[2018-06-14 10:00] jermainewang opened #8 "About message and update function"
I'm thinking about how to make the API cleaner. Basically, we only have two types of computations:
* **Computation on edge**. It takes the states of the src and dst nodes, and the old states of the edge and returns the new states of the edges. The signature can be summarized as:
  `(node_states, node_states, edge_states) -> edge_states`
* **Computation on node**. It takes the states of the in-comi

[2018-06-14 10:07] zzhang-cn commented on #8
Do you mean we expose `register_edge_func` to user and reserve `register_message_func` for system use?

[2018-06-14 21:13] jermainewang commented on #8
I'm thinking about having both, but `register_message_func` is implemented using `register_edge_func`, so in the system side, we still only see two kinds of computation.

If the user's model is like GCN style:
[code]
, then he only needs to `regsiter_message_func(f1)` and `register_update_func(f2)`.

If the user's model is like:
[code]
, then he needs to `register_message_func(f1)`, `register_upda

[2018-06-15 03:19] zzhang-cn commented on #8
in the second case, i would do `msg = zip(f1(u, e_uv), e_uv))`, so still only two APIs.

[2018-06-15 08:00] jermainewang opened #9 "About the semantic of propagation"
I met a problem when implementing the [`propagate`](https://github.com/zzhang-cn/dgl/blob/master/python/dgl/graph.py#L289) method. If there is a graph like this: 0->1, 0->2, 1->2. If we call `list(nx.bfs_edges(g, 0))`, it gives edges `[(0, 1), (0, 2)]`. The edge `(1, 2)` is ignored. I wonder what is the right semantic for the bfs propagation in GNN? What are the messages to be computed?

[2018-06-15 08:46] zzhang-cn commented on #9
That's why topdown.py has a walk_list routine to come up with the
navigation order.

-zz

On Fri, Jun 15, 2018 at 4:00 PM, Minjie Wang <notifications@github.com>
wrote:

--

*Zheng Zhang <https://shanghai.nyu.edu/academics/faculty/zheng-zhang> 张峥*

Professor of Computer Science, NYU  Shanghai 上海纽约大学计算机系教授

Room 1118, 1555 Century Avenue

Pudong New District, Shanghai 200122, China

中国上海市浦东新区世纪大道15

[2018-06-15 09:05] jermainewang commented on #9
I think this is a different problem. The walk_list in topdown.py can be implemented using the `iterator` argument (see [here](https://github.com/zzhang-cn/dgl/blob/master/python/dgl/graph.py#L311) on how the iterator is called and [here](https://github.com/zzhang-cn/dgl/blob/zz-play/topdown.py#L273) for how the topdown.py is using walk_list, you can see they are the same).

This question is about

[2018-06-15 11:10] zzhang-cn commented on #8
Is this a problem to solve urgently or we can table for later?

[2018-06-15 11:15] zzhang-cn commented on #9
Do you mean [this](https://networkx.github.io/documentation/stable/reference/algorithms/traversal.html)? BFS can be defined over general graph in networkx.

Another useful navigation order maybe just a random work starting from `u` of length `d`.

[2018-06-16 04:33] jermainewang commented on #8
As discussed in the meeting, let's try to implement the Molecular GCN model (with both message function and learnable edge features) before drawing conclusions. Close the issue at the moment.

[2018-06-16 04:33] #8 closed

[2018-06-16 04:34] jermainewang commented on #9
As discussed in the meeting, let us put this problem aside. We can implement tree traversals first (e.g. pre-order, mid-order, post-order) and think about this later when we need it.

[2018-06-16 04:34] #9 closed

[2018-06-19 13:29] GaiYu0 opened #10 "How to support graph batch-norm?"
With current API, we can implement batch-norm by adding a shadow node and pulling/pushing globally. However, this may not be very user-friendly. An ideal syntax is

`batch_norm(node_reprs['x'])`

[2018-06-22 13:15] #10 closed, assigned to nobody

[2018-06-23 20:10] GaiYu0 opened #13 "State sharing between graphs"
Let us discuss how to enable state sharing between graphs.

[This page](https://networkx.github.io/documentation/latest/reference/classes/generated/networkx.Graph.copy.html) describes four kinds of semantics for graph duplication.

In the application of CDGNN (and many others), we are primarily interested in the "independent shallow" kind of semantics, which ensures that

`g.nodes[node]['x'] is g.

[2018-07-08 16:13] jermainewang opened #20 "Some API corner cases"
Hi all,

I want to use this issue as a reminder of the corner cases of the API semantics.
(1) *Is message phase a prerequisite of the node update phase?*. Our current implementation will check whether the predecessors of the node have sent messages and raise error if no message is found. This means there must be some `sendto` call before `recvfrom`. One argument for this is that if the node update

[2018-07-08 18:58] GaiYu0 opened #21 "Anonymous representations"
Currently, if an update function returns an object other than a `dict`, the object is supposed to be the new (anonymous) node/edge representation (named `__N_REPR__` or `__E_REPR__` implicitly). However, a node/edge with an anonymous representation may have explicitly named representations as well (those returned in a `dict` by an update function).

When we pass node/edge representations to user-d

[2018-07-11 14:12] jermainewang opened #23 "Running TODOs"
Hi all,

Let's use this thread to book-keep all the major TODOs before our first major milestone.

**High priority**
Tasks that have a major contributor to be in charge of.
- [x] C <=> Python interface (probably borrow from TVM).
- [ ] Lowering graph related logic to C++
  - [x] Light weight & efficient C++ graph data structure
  - [x] Graph construction and graph batching
  - [x] Graph query logi

[2018-07-11 19:16] #21 closed, assigned to nobody

[2018-07-12 15:23] #20 closed, assigned to nobody

[2018-07-12 18:56] jermainewang opened #27 "Tree-LSTM and msg/reduce/update functions"
We met a problem when implementing tree-lstm with the new reduce function. The Child-Sum Tree-LSTM is described as follows:

![image](https://user-images.githubusercontent.com/4057701/42651021-1d98ce20-85dc-11e8-9951-8a47137b035e.png)

@GaiYu0 has implemented this when there are only msg and update functions (see codes [here](https://github.com/zzhang-cn/dgl/blob/master/examples/pytorch/tree_lstm/

[2018-08-03 01:51] jermainewang opened #33 "To mutable or not to mutable?"
Here is a question we found when writing models using DGL. Let's first look at a following GCN example:
[code]
**Can you spot the bug in this code?**

The bug is that we need to reset the input features to the graph at the beginning of each iteration:
[code]
This is a very subtle mistake, but we feel that this worth our attention. The reason of such mistake is that we are very used to what autogra

[2018-08-04 02:01] jermainewang opened #34 "Partial update with changing tensor shapes"
Consider following node update function:
[code]
The update module transform the node features of length 100 to new features of length 10. Suppose we apply this update function to a subset of nodes, we have following issue:
![image](https://user-images.githubusercontent.com/4057701/43671449-55e9153a-9768-11e8-8a6b-f138059677e7.png)
In this example, only nodes 3,4,5 are updated. As a result, their n

[2018-08-06 18:01] #33 closed, assigned to nobody

[2018-08-06 18:02] #34 closed, assigned to nobody

[2018-08-08 19:08] jermainewang opened #36 "API rename"
Currently, our API names are confusing (such as `update_edge` and `update_by_edge`). I proposed to have following changes:

* `sendto` -> `send` to match `recv`
* `update_by_edge` -> `send_and_recv`
* `update_to` -> `pull`
* `update_from` -> `push`

Two new APIs to easily apply changes to the node/edges:
* `apply_nodes`: Equivalent to `recv` API without messages.
* `apply_edges`: Equivalent to `up

[2018-08-12 02:19] BarclayII opened #40 "set_e_repr(): behavior description when u and v equals ALL"
It seems that for now `set_e_repr()` directly assigns the batched edge tensor storage when `u == v == ALL`.  But how do I construct such a tensor storage?  In particular, when `u == v == ALL`, which edge does each row of the tensor storage correspond to?

[2018-08-12 02:34] BarclayII opened #41 "Feature request: auto-batching preset tensor storages during construction from networkx"
Just for booking this issue raised in discussion.

Reference: https://github.com/BarclayII/icml18-jtnn/blob/master/jtnn/mpn.py#L87-L161

In particular, for initializing a `DGLGraph` where each node and edge gets its own feature vector, I have an "ideal" snippet which looks roughly like this: basically adding nodes and edges along with their feature vectors one by one to a `networkx.Graph`, then co

[2018-08-12 03:05] BarclayII opened #42 "Loopy belief propagation"
The loopy belief propagation updates messages on a directed edge `e = (u, v)` by looking at the messages on all edges pointing to `u`, except the one that comes from `v`.  An example from Junction-Tree VAE looks like this:
![gif](https://user-images.githubusercontent.com/2978100/43998005-7ec26e32-9db9-11e8-8b74-46980988e8fc.gif)
where `m`'s are messages, `x` are input features and `W` are weights

[2018-08-16 19:25] #40 closed, assigned to nobody

[2018-08-16 19:26] #13 closed, assigned to nobody

[2018-08-16 21:45] BarclayII opened #44 "Two issues in set_e_repr()"
The following code fails:
[code]

There are two causes:
(1) Converting a `DiGraph` to a `DGLGraph` does not initialize the edge list appropriately.  An easy fix would be passing `graph_data` into `_init_state()` and set `self._edge_list = list(graph_data.edges)`.  Although I'm not sure what the order of edges should be (I don't think it matters).
(2) In `set_e_repr()`:
[code]
Setting a new field w

[2018-08-16 22:17] #44 closed, assigned to nobody

[2018-08-19 18:02] BarclayII opened #45 "Bug in _batch_reduce() with dicts"
In `graph.py:647`
[code]
`reduced_msgs` is always a list, so it throws an error if the reducer returns a `dict`.
Fix:
[code]

[2018-08-22 16:26] #45 closed, assigned to nobody

[2018-08-23 15:46] BarclayII opened #49 "`add_edges_from` in batch.py does not preserve edge order"
In `batch.py:28`, it seems that the new batched graph adds its edges using `add_edges_from`, which does not preserve the order of the supplied edge list.

This will essentially fail the following test:
[code]

[2018-08-23 20:25] #49 closed, assigned to nobody

[2018-08-28 05:54] #42 closed, assigned to nobody

[2018-08-31 02:53] BarclayII opened #52 "Dynamically maintaining line graph?"
As discussed in the meeting earlier, Junction Tree VAE requires us to perform partial loopy-BP-like message passing (in particular, edge messages are computed in DFS order) while generating nodes when decoding a tree during inference.

It seems that we somehow need to maintain a dynamic non-backtracking line graph, handling (appended) new edges on-the-fly, in order to use the DGL `reduce` primitiv

[2018-09-01 01:29] #27 closed, assigned to nobody

[2018-09-01 17:53] #36 closed, assigned to nobody

[2018-09-04 10:37] VoVAllen opened #54 "Cannot get node attribute when setting by set_n_repr"
Minimal Reproduce Code:

[code]
However through gcn_batch.py example, we found when [updata_all](https://github.com/jermainewang/dgl/blob/61fa3c6cf5441e6dd34e3d51e5f519308e5a1baf/examples/pytorch/gcn/gcn_batch.py#L63) was called with batchable=True, everything works fine. When setting batchable=False in msg function ,it also fail to get the representation.

[2018-09-04 13:37] #54 closed, assigned to nobody

[2018-09-12 02:59] jermainewang opened #56 "[RFC] C++ graph interface"
The draft interface is here: https://github.com/jermainewang/dgl/blob/cpp/include/dgl/graph.h
It covers the requirements from [networkx](https://docs.google.com/document/d/18wuuGJy6s_QT6SpkvnTB4Spsg1lIymeEetu-wcltKwc/edit) and current DGL's [cached graph](https://github.com/jermainewang/dgl/blob/cpp/python/dgl/cached_graph.py).

Currently, we have several assumptions on the graph:
* Vertices/edges

[2018-09-15 21:05] BarclayII opened #57 "[TODO] Remove anonymous fields?"
In retrospect, I think the anonymous fields unnecessarily complicates the code base.
Allowing anonymous fields requires us additional if/else logic to decide whether to return/update a dictionary or a tensor (and as a result, we have two helper functions `_get_repr()` and `_set_e_repr()` solely for dealing with anonymous attributes), which are fundamentally different.  Similar logic is also appear

[2018-09-19 20:01] zheng-da opened #60 "[DISCUSSION] Pros and cons of the new signature of MessageFunc"
The current interface of MessageFunc is
[code]
while its previous interface was
[code]

The main advantage of the new interface is
* many algorithms don't need the embedding of the destination vertices to generate messages. If we always pass the embedding of the destination vertices, we needs to fetch them from the Frame, which is unnecessary overhead.

The disadvantage of the new interface is
* t

[2018-09-20 07:21] BarclayII opened #63 "[DISCUSSION] JTVAE profiling result on GPU is up"
See https://docs.google.com/spreadsheets/d/11ZttVv7J8tq7d5Qq9MuCxrY-5P3zT5BP0P12oLyamts/edit?usp=sharing

TLDR; DGL should work a lot faster after we switch to C++ graph backend, but it may still have trouble to catch up the official implementation since the latter has a lot less overhead, including (1) not explicitly constructing line graph for tree message passing, and (2) always uses padding an

[2018-09-20 18:55] jermainewang opened #64 "[DISCUSSION] Decouple networkx and deprecate batchable=False mode?"
With the upcoming new C++ graph library support, it is time to think about decoupling DGLGraph from networkx and whether we want to continue support batchable=False model.

[Here](https://github.com/jermainewang/dgl/blob/cpp/python/dgl/graph.py#L20) is how the DGLGraph will look like when it is backed by C++. You can see several changes:
(1) DGLGraph no longer inherits from networkx's DiGraph. Ins

[2018-09-25 04:16] jermainewang opened #66 "TODOs for C++ GraphIndex"
**Implementations**
GraphIndex related:
- [x] [Graph operators](https://github.com/jermainewang/dgl/blob/cpp/include/dgl/graph_op.h): Currently, only `DisjointUnion` has been implemented.
~~- [ ] Graph traversal: A topological traversal implementation in C++ that is used by tree-lstm example.~~ (Move to next PR for improving TreeLSTM)

BatchedGraph related [batch.py](https://github.com/jermainewan

[2018-09-25 17:10] jermainewang opened #67 "[DISCUSSION] Subgraph semantics"
As mentioned in our last meeting, there are a couple of things to think about when implementing subgraph.
* Does a subgraph support graph mutation? Can such mutation be seen by its parent graph?
* We need to support both shared and non-shared mode on node/edge frames.
* What if a subgraph is created from another subgraph? Who is its parent?

@ylfdq1118 and I have a couple of discussions last week.

[2018-09-25 19:46] ivanbrugere opened #68 "Sending and receiving multiple fields (batched)"
There are several instances where messages and node reductions are over more than node['__REPR__'], for example:

1. FastGCN has a node weight vector which where q_i is applied on message v_i->v_j
2. Control variate sampling has a 'previous' representation on node reduction, e.g. sum(h[i], h_prev[i])

Presumably the best way to handle this is to pass in optional fields to the send_and_recv and rel

[2018-09-28 04:39] BarclayII opened #69 "[DISCUSSION] [RFC] Multi-edge support"
Had a discussion with @ylfdq1118 today.  Here is the conclusion we have reached:

### Storage
In our current codebase, we store the graph as adjacency lists (node to node).  We propose to *directly* change the storage in C++ backend to **incidence lists**, more specifically, an incidence list for inbound edges and another for outbound ones.  This implies that we are no longer handling simple graph

[2018-10-04 00:32] yidawang opened #71 "The link in the readme file is broken"
Minor issue, as the title.

[2018-10-04 00:45] #71 closed, assigned to nobody

[2018-10-05 04:39] #69 closed, assigned to nobody

[2018-10-11 05:47] BarclayII opened #75 "[BUG] Consecutive sends without recv"
Here's the test I was running on `cpp` branch.
[code]

First, if I do two consecutive sends with different message keys, DGLGraph throws a `KeyError: 'b'` regardless of whether we are sending on the same node pairs/edges.

The next issue is that we are adding edges into a "message graph" during sends.  This does not make a lot of sense on multigraphs if we allow sending between the same node pairs

[2018-10-14 03:40] jermainewang opened #78 "[Improvement] SSE consumes too much memory during forward"
Just a simple note. It seems that there are memory issue when gradient is not required. Need verify.

[2018-10-16 08:07] VoVAllen opened #81 "[BUG] update_edge API broken"
[code]

![image](https://user-images.githubusercontent.com/8686776/47001683-9febe200-d15d-11e8-9c41-c88c213b0f14.png)

[2018-10-16 17:57] jermainewang opened #82 "[DISCUSSION] GraphIndex profiling result"
Here is a profiling result on my machine (Intel(R) Xeon(R) CPU E5-1620 v2 @ 3.70GHz). The code is in https://github.com/jermainewang/dgl-workspace/tree/master/profile-graph-index . It measure the time of each API calls with different graph sizes. All the time is measured in seconds.

Some highlights:
* Adding 1M nodes takes 0.1s.
* Adding 1M nodes and 5M edges takes 2.63s. Clear it takes ~1s.
* Qu

[2018-10-17 13:02] VoVAllen opened #84 "[USABILITY] Error in send_and_recv on partial nodes"
It seems that send_and_recv didn't properly process the index of partial nodes.
[code]

![image](https://user-images.githubusercontent.com/8686776/47087926-da35ac00-d24f-11e8-9098-2dfa28ee445f.png)

[2018-10-17 16:00] #81 closed, assigned to BarclayII

[2018-10-18 19:09] #84 closed, assigned to jermainewang

[2018-10-19 14:20] #82 closed, assigned to nobody

[2018-10-19 14:21] #68 closed, assigned to nobody

[2018-10-19 14:22] #66 closed, assigned to nobody

[2018-10-19 14:22] #64 closed, assigned to nobody

[2018-10-19 14:22] #57 closed, assigned to lingfanyu

[2018-10-19 14:22] #41 closed, assigned to nobody

[2018-10-19 14:23] #56 closed, assigned to nobody

[2018-10-19 14:24] #23 closed, assigned to nobody

[2018-10-19 14:25] #67 closed, assigned to nobody

[2018-10-23 03:07] GaiYu0 opened #97 "[GraphIndex] Graph traversal"
###  BFS/Topological traversal

Process nodes/edges belonging to the same layer (BFS) / frontier (topological traversal)  in the same batch.

* `bfs(G[, source, depth_limit])` and `topo(G)` returns a `list` of `Tensor` of layer/frontier nodes
* `bfs_edge(G[, source, depth_limit])` and `topo_edge(G)` returns a `list` of `Tensor` of layer/frontier edges

where `source` is a collection of nodes that

[2018-10-24 03:58] #78 closed, assigned to nobody

[2018-10-26 16:51] #52 closed, assigned to nobody

[2018-10-26 21:22] zheng-da opened #108 "Subgraph sampling"
as proposed in [this design](https://docs.google.com/document/d/1ToIvH_DTf3fSjUyItsJ9Nk9NG0Dt6uiCRMI3inFWmpo), subgraph sampling has three steps:
* compute the sampling probability. There are many different ways of computing sampling probability. The output of this step is the sampling probability associated with each vertex. That is, it's a 1D NDArray.
[code]
* sample vertices based on the probab

[2018-10-28 09:41] mufeili opened #112 "Forbid multiple edges when multigraph is False in DGLGraph"
If I understand correctly, when a `dgl.DGLGraph` object is created, by default it is not a multigraph. However when multiple edges are added with the same end nodes and direction, no warnings or errors are raised and it gets multiple edges created as if the graph object is a multigraph.

<img width="985" alt="2018-10-28 5 35 14" src="https://user-images.githubusercontent.com/19576924/47614258-dcad

[2018-11-06 16:55] #60 closed, assigned to nobody

[2018-11-06 20:18] yzh119 opened #121 "[BUG] 'TVMContext' object has no attribute 'type'"
When running tree_lstm, I encountered a bug with the new [tensor.py](https://github.com/jermainewang/dgl/blob/7241a9c0086167fbad1f41068f8d8640c6502980/python/dgl/backend/pytorch/tensor.py).

Description:
[code]

It seems in [runtime_ctypes.py](https://github.com/jermainewang/dgl/blob/7241a9c0086167fbad1f41068f8d8640c6502980/python/dgl/_ffi/runtime_ctypes.py), `TVMContext` does not maintain `type`

[2018-11-07 01:00] #121 closed, assigned to nobody

[2018-11-08 11:26] VoVAllen opened #125 "Is dependency on nltk intended?"
![image](https://user-images.githubusercontent.com/8686776/48195994-29bd5280-e38c-11e8-8cb4-2d0a98cae49a.png)

[2018-11-08 12:05] mufeili opened #126 "[BUG?] Messages are not passed and reduced in parallel with send_and_recv"
# Old

In the older version of API, with the following block of code, the messages are passed and reduced in parallel:

[code]

After send_and_recv,
[code]
yields
[code]

# New

With current APIs, a different behavior is observed:
[code]
Now after send_and_recv,
[code]
yields
[code]

I tried replacing `send_and_recv` above with `update_all` and such a discrepancy is not observed. Any idea why this

[2018-11-08 15:31] #97 closed, assigned to nobody

[2018-11-09 20:05] #125 closed, assigned to BarclayII

[2018-11-09 20:05] #126 closed, assigned to BarclayII

[2018-11-10 19:48] yzh119 opened #134 "[BUG] Loop detected in BatchedDGLGraph, but no loop found in each DGLGraph"
I'm running the latest version of TreeLSTM code, but I met a bug when using the built-in topological traversal.

The problem is that, apply `topological_nodes_generator` on each graph in the batch does not yield any error, but when it comes to the batched graph, it says loop detected in the given graph.
![image](https://user-images.githubusercontent.com/11773619/48305370-47ddab00-e564-11e8-88c4-2f

[2018-11-11 01:34] #134 closed, assigned to jermainewang

[2018-11-12 08:27] VoVAllen opened #144 "Problem of Memory Leak"
In my current capsule implementation, I have to manually call `del self.g` in my code, unless it will raise CUDA Out of Memory Error. Not sure what's the problem.
Code link: [here](https://github.com/jermainewang/dgl/blob/tutorial/examples/pytorch/capsule/DGLDigitCapsule.py#L25)
Run by `python main.py`, [link](https://github.com/jermainewang/dgl/blob/tutorial/examples/pytorch/capsule/main.py)

[2018-11-14 06:27] BarclayII opened #151 "[DISCUSSION] Overhead generated by TVM"
I uploaded the JTNN profile result [here](https://github.com/jermainewang/dgl/raw/jtnn/examples/pytorch/jtnn/output.json).  It's a JSON file generated by `pyinstrument` and it can be visualized using [Python Flame Chart](https://python-flame-chart.netlify.com) tool.

I found that among 401s of forward propagation including graph construction, 76s are spent on `_make_tvm_args` call alone, and anoth

[2018-11-16 19:44] mufeili opened #156 "[RFC] DGLGraph APIs Related to Dynamic Graphs"
Here are two small issues for DGLGraph APIs about whether the model/tutorial code can be cleaner:

1.  `set_n_initializer` and `set_e_initializer`

For most of the time, we simply initialize features as zero tensors. Therefore it will be more convenient if we can simply call `g.set_n_initializer()` with
[code]
Similar for `set_e_initializer`.

2. Set features
When we are generating a graph from sc

[2018-11-20 06:21] #156 closed, assigned to BarclayII

[2018-11-20 23:35] #151 closed, assigned to nobody

[2018-11-22 07:04] zheng-da opened #165 "[Doc] add more documents"
- [x] define the signature of UDFs.
- [x] documents for NodeBatch and EdgeBatch. These are classes exposed to users.

[2018-11-22 08:19] yzh119 opened #167 "[BUG] Could not set attributes in BatchedDGLGraph"
After updated to the latest version, the following code does not work anymore:
[code]

Error info:
[code]

[2018-11-22 08:19] mufeili opened #168 "No longer allowed to set new features for dgl.BatchedDGLGraph"
In previous versions of dgl, it is allowed to add new field for a `dgl.BatchedDGLGraph` object. This seems no longer allowed now, which is a bit troublesome. For example, when performing batched readout, one may need to create some auxiliary fields.

You can use the code below for testing:
[code]

[2018-11-22 08:25] #168 closed, assigned to nobody

[2018-11-22 18:50] #167 closed, assigned to nobody

[2018-11-22 19:19] yzh119 opened #170 "[BUG] Tree-LSTM performs terrible after using new scheduler & executor"
Tree LSTM behaves differently before and after #140 .

As a reference:
DGL version: commit [3e8b63e](https://github.com/jermainewang/dgl/commit/3e8b63ecd3cb34bfcd3488f2f7d38dcba480192f)
The result of epoch 0:
[code]

DGL version: commit [deb653f](https://github.com/jermainewang/dgl/commit/deb653f8dc9b396ba99d5c66e0658fb056f37a38)
The result of epoch 0:
[code]
In fact, as a 5-class classification t

[2018-11-22 20:09] yzh119 opened #171 "[BUG] Multi-Head Attention dimension error when calling built-in reduce function"
When writing an attention module, a combination of `fn.src_mul_edge` and `fn.sum` is required, the first one for computing the attention score and the second one for computing the weighted sum of values(by attention score).

There are three ways to implement this:
[code]
they all works fine when the node feature and edge feature are both 1d vectors.

However, when it comes to Multi-Head Attention,

[2018-11-24 16:55] mufeili opened #173 "[DISCUSSION] Potential confusion for accessing edges"
In the doc for `dgl.DGLGraph`, it says that we can access the edges with either [`g.edges[src, dest]`](https://github.com/jermainewang/dgl/blob/master/python/dgl/graph.py#L118) or [`g.edges[edge_id]`](https://github.com/jermainewang/dgl/blob/master/python/dgl/graph.py#L127) for a single edge. But this can be a bit confusing as one might wonder what if I want to access two edges with edge ids. Alth

[2018-11-24 17:45] #173 closed, assigned to nobody

[2018-11-24 18:16] mufeili opened #174 "[DISCUSSION] PyTorch is now a dependency of DGL?"
I'm a bit surprised that PyTorch seems now in fact a dependency of DGL, is this expected? In an environment where I don't have PyTorch installed, when importing `dgl`, I got the error below:

[code]

Also `DGLGraph.nodes` and `DGLGraph.edges` now return `torch.tensor`:
[code]

[2018-11-24 20:55] mufeili opened #176 "[DISCUSSION] Has "radius" been supported for predecessors and successors?"
While `radius` is an argument for `predecessors` and `successors` in DGLGraph class, [it is currently not used](https://github.com/jermainewang/dgl/blob/master/python/dgl/graph.py#L360). Meanwhile the radius is in fact used in [`GraphIndex`](https://github.com/jermainewang/dgl/blob/master/python/dgl/graph_index.py) class. I'm wondering if this support works, otherwise we may want to remove the rad

[2018-11-26 03:33] #170 closed, assigned to jermainewang

[2018-11-26 16:14] #171 closed, assigned to jermainewang

[2018-11-27 08:31] mufeili opened #182 "[BUG?] Fails to handle DGLGraphs with different attributes when batching"
When creating a `BatchedDGLGraph` object from a list of `DGLGraph` objects, if `node_attrs` and/or `edge_attrs` is `ALL`, then `node_attrs` and/or `edge_attrs` is decided by the first `DGLGraph` object in the list. See [L174](https://github.com/jermainewang/dgl/blob/master/python/dgl/batched_graph.py#L174) and [L180](https://github.com/jermainewang/dgl/blob/master/python/dgl/batched_graph.py#L180)

[2018-11-28 02:55] jermainewang opened #183 "[Release] v0.1 release checklist"
Bugfix
--------
- [x] Support inplace write for `recv`, `pull`, `push`, `send_and_recv`. **[Lingfan]** #221
- Fix consecutive send, recv. **[minjie]** (fix in next patch)

API document
-------------------
- [x] DGLGraph (`graph.py`)
  - [x] Adding nodes and edges **[Quan]** #207
  - [x] Querying graph structure **[Quan]** #207
  - [x] Transforming graph / Subgraph (`subgraph.py`) **[Quan]** #207

[2018-11-29 02:30] eric-haibin-lin opened #189 "[DOC] Missing documentation"
dgl.data.* APIs are not listed in the API reference section on the website

http://docs.dgl.ai/api/python/index.html

[2018-11-29 09:16] yifeim opened #191 "gcmc implementation mxnet src/storage/./pooled_storage_manager.h:143: cudaMalloc failed: out of memory"
@zheng-da

I was trying to implement a basic matrix factorization as described in graph convolutional matrix completion [paper](https://arxiv.org/abs/1706.02263). However, I get cudaMalloc error when calling asnumpy() after autograd. Training only used `apply_edges` with the quadratic formula in eq (4).

These are the source codes:

[gcmc.ipynb.zip](https://github.com/jermainewang/dgl/files/262836

[2018-11-29 14:40] #144 closed, assigned to jermainewang

[2018-11-29 17:18] #182 closed, assigned to nobody

[2018-11-29 22:58] #191 closed, assigned to nobody

[2018-11-30 09:54] VoVAllen opened #201 "[Doc] Auto-build proposal"
- Auto-build doc from ci to doc server, exposed at doc.dgl.ai/latest. (In case we want doc at doc.dgl.ai to be a stable version)
- Add manually trigger in jenkins to update stable version to lateset version

[2018-11-30 12:05] VoVAllen opened #203 "[Doc] Installation Doc"
Pytorch backend should be with version later than 0.4.1.

Do we need to check this in the code?

[2018-12-01 05:33] #189 closed, assigned to nobody

[2018-12-03 05:35] eric-haibin-lin opened #225 "[Doc] Subgraph & Frame Doc"
The documentation for Subgraph & Frame don't show up in the api doc in the website

[2018-12-03 16:03] zheng-da opened #229 "Some of the builtin functions don't work in the MXNet backend."
I tried fn.max, fn.src_mul_edge. They don't work in MXNet.

[2018-12-03 22:19] #203 closed, assigned to nobody

[2018-12-03 22:22] #174 closed, assigned to nobody

[2018-12-03 22:23] #63 closed, assigned to nobody

[2018-12-03 22:46] szha opened #231 "[Bug] DGL coupled with PyTorch"
I was surprised to see that DGL isn't so framework agnostic in that it provides APIs that only work for pytorch.

https://github.com/jermainewang/dgl/blob/10e18ed982d8633ab7bd4a77603772acceabe347/python/dgl/data/tree.py#L156-L158

[2018-12-04 01:05] eric-haibin-lin opened #232 "[DOC?] Better string repr for DGLGraph"
We need better string representation for a DGLGraph object. Currently printing a dglgraph does not show any useful information:
[code]
Maybe we can show some basic information such as names of node/edge features, and the number of nodes/edges in the graph, whether it's a multigraph or not, etc.

[2018-12-04 13:51] zheng-da opened #237 "the install guide didn't install nltk"
[code]

[2018-12-04 22:12] #225 closed, assigned to nobody

[2018-12-05 13:08] zheng-da opened #253 "Fail to read a graph from coo matrix."
[code]
The error:
[code]

[2018-12-05 14:53] zheng-da opened #254 "Performance issues of RGCN in MXNet"
RGCN uses incident matrix. When creating an incident matrix, it converts a coo matrix to a csr matrix. right now, this conversion converts data to scipy first, so it's very slow. Two solutions:
* improve the conversion from coo to csr in mxnet.
* implement incident_matrix in ImmutableGraphIndex, so we can optimize the conversion in MXNet.

@eric-haibin-lin @yzhliu

[code]

[2018-12-05 14:59] zheng-da opened #255 "Performance issue of TreeLSTM in MXNet"
TreeLSTM in MXNet is about 2 times as slow as in Pytorch. Profiling shows that quite a few operators in MXNet are slower than Pytorch:
* split: the operation required by dgl isn't supported by MXNet. Jin Hao is working on this.
* the conversion between MXNet and NumPy requires memory copy, but Pytorch doesn't.
* sort in CPU in MXNet seems to use a single thread.
* the overhead of freeing MXNet NDA

[2018-12-05 17:04] zheng-da opened #257 "dfs_edges_generator doesn't have tests."

[2018-12-05 17:14] #165 closed, assigned to nobody

[2018-12-05 17:21] #231 closed, assigned to nobody

[2018-12-05 17:27] #237 closed, assigned to nobody

[2018-12-05 23:09] #257 closed, assigned to nobody

[2018-12-05 23:10] #253 closed, assigned to nobody

[2018-12-05 23:11] #176 closed, assigned to nobody

[2018-12-05 23:11] #108 closed, assigned to nobody

[2018-12-05 23:13] #229 closed, assigned to nobody

[2018-12-06 03:15] zheng-da opened #267 "CI fails with a weird error"
http://ci.dgl.ai/blue/organizations/jenkins/DGL/detail/PR-266/1/pipeline

[code]

[2018-12-07 04:59] #183 closed, assigned to nobody

[2018-12-08 04:38] zcwang0702 opened #278 "PyTorch 1.0 backend crashes on `_sparse_coo_tensor_unsafe`"
## 🐛 Bug

Error in tutorial "Graph Convolutional Network"
[code]

## Environment

 - DGL Version : '0.1.2'
 - Backend Library & Version : PyTorch 1.0
 - OS : mac
 - How you installed DGL : pip
 - Python version: 3.6.3
 - no CUDA

[2018-12-08 21:03] codewithsk opened #281 "Contribution guidelines"
## ❓ Questions and Help

Is there a dev list/roadmap or feature tracker that contributors can use when deciding what to contribute to the library?

[2018-12-08 21:18] jermainewang commented on #281
Yes, a more detailed breakdown on what's on our roadmap and how to contribute is on the way. Broadly speaking, there are following directions:
* More GNN models.
* More backend support. (currently we have Pytorch and MXNet)
* More platform support. (e.g. py2 support for many researchers who relies on legacy codes)
* More features. (such as more builtin functions)
* Document improvement.

You could

[2018-12-09 09:49] zcwang0702 commented on #278
Closes #278

[2018-12-10 05:54] qiaochen opened #283 "An error in DGLGraph().from_networkx() with edge features"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

[code]

[code]

## Expected behavior

Graph conversion  successfully

## Environment

 - DGL Version (0.1.2):
 - Backend Library & Version (ePyTorch 0.4.1):
 - OS (Ubuntu 18.04):
 - How you installed DGL (conda):

## Additional context
This error should be due to the variable `attr`  that is not aligned with the `attrs` variable at the b

[2018-12-10 06:03] ylfdq1118 commented on #283
Thanks for reporting the bug. We will fix it soon.

[2018-12-10 06:10] luyifanlu opened #284 "TypeError: unhashable type: 'torch.Device'"
## 🐛 Bug
There are a unexpect error ,when i run the example:
the code as:
!pip install dgl
[code]
then occur a error:
TypeError: unhashable type: 'torch.Device'
## Environment
 - How you installed DGL (`conda`, `pip`, source):
## Additional context

[2018-12-10 06:15] yzh119 commented on #284
It seems you are using an old version of PyTorch. You are supposed to use PyTorch 0.4.1+.

[2018-12-10 08:20] luyifanlu commented on #284
yes ,it work on PyTorch 0.4.1+

[2018-12-10 20:00] matgreco opened #289 "Graph classification"
Some method for make a graph classification?

[2018-12-10 23:30] #284 closed

[2018-12-11 04:29] cclauss opened #290 "Undefined names have the potential to raise NameError"
It might be useful to add the [flake8](http://flake8.pycqa.org) command below to the Jenkins test runs.

The __torch__, __sp__, __np__, and __mx__ issues are probably missing imports...

__E901,E999,F821,F822,F823__ are the "_showstopper_" [flake8](http://flake8.pycqa.org) issues that can halt the runtime with a SyntaxError, NameError, etc. Most other flake8 issues are merely "style violations" --

[2018-12-11 04:37] jermainewang commented on #290
Thanks for pointing out the style issue. How does flake8 compare with pylint? Also, some F821 errors are due to the CAPI calls, for example:
[code]
Here, `_CAPI_DGLDegreeBucketing` is dynamically registered from the c lib.

[2018-12-11 04:42] cclauss commented on #290
These are _not_ style issues.  __NameErrors__ have the potential to halt the runtime.

Just add __global _CAPI_DGLDegreeBucketing__ to help linters (and humans) understand what is going on.

[2018-12-11 06:00] jermainewang opened #291 "MXNet utest failed on bfs traversal"
## 🐛 Bug

The MX utest CI failes occasionally on bfs traversal. An example log:
[code]

## To Reproduce

Steps to reproduce the behavior:
(cannot reproduce reliably on my pc)
1. Any PR will occasionally trigger this bug.

## Expected behavior

CI should pass.

## Environment

 - DGL Version (e.g., 0.1.2):
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3): MXNet
 - OS (e.g., Linux

[2018-12-11 11:31] hurun opened #293 "[Windows] Native pip Windows installation depends on MinGW libraries"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.import dgl
1.
1.

## Expected behavior

## Environment

 - DGL Version (e.g., 1.0):  dgl-0.1.2
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3): 1.0.0
 - OS (e.g., Linux): windows 10
 - How you installed DGL (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source):
 - Python version:  3.6.1

[2018-12-11 11:44] mufeili commented on #293
Thank you for contacting us. To better identify and reproduce the issue here, could you please fill in the environment related info?

[2018-12-11 11:45] hurun commented on #293
yes, i will do.

[2018-12-11 16:44] mufeili commented on #293
Personally I'm not a Windows user so see if other team members have more experience and suggestions. Meanwhile, this seems to be a common issue for Windows users. You can find discussions about similar issues on Stack Overflow like [this thread](https://stackoverflow.com/questions/1940578/windowserror-error-126-the-specified-module-could-not-be-found). See if some solutions suggested there can add

[2018-12-11 17:12] BarclayII commented on #293
It seems that currently Windows installation depends on MinGW, i.e. with LibGCC/PThread/etc.  Native Windows installation with pip doesn't work right now.

Could you please try using anaconda instead?

[2018-12-12 01:20] hurun commented on #293
I use anoconda to fix this problem. it works now.

[2018-12-12 01:20] hurun commented on #293
I use anoconda to fix this problem. it works now.

[2018-12-12 01:25] hurun opened #299 "dgl basic example add the same edge twice"
## 📚 Documentation

DGL Basic Example.

g.add_nodes(10)
src = th.tensor(list(range(1, 10)));
g.add_edges(src, 0)
 g.edata['w'] = th.randn(9, 2)
---------------------------------------------
it works. but add twice the same edge, report error, seems graph not recognition the edge was exist.
the code is here.
----------------------------------------------
g.add_nodes(10)
src = th.tensor(list(range(1

[2018-12-12 01:30] BarclayII commented on #299
Are you trying to create a multigraph (where multiple edges may exist between the same node pair)?

If so, [please specify `multigraph=True`](https://docs.dgl.ai/tutorials/basics/2_basics.html#multigraphs).

If not, currently DGL does not attempt to check for duplicate edges, and doing so would cause undefined behavior (see the docstring of [`edge_ids`](https://docs.dgl.ai/generated/dgl.DGLGraph.e

[2018-12-12 03:13] hurun commented on #299
not to create multigraph, just find this problem by accident.

[2018-12-12 03:15] #299 closed

[2018-12-12 06:54] BarclayII commented on #278
Should be fixed in release 0.1.3.

[2018-12-12 06:55] #278 closed

[2018-12-12 16:06] #289 closed

[2018-12-12 16:19] ylfdq1118 commented on #283
This bug should have been fixed in release 0.1.3.

[2018-12-12 17:00] jermainewang opened #302 "[Roadmap] v0.2 release checklist"
Thanks everyone for the hard work. We really did a lot for a smooth beta release. With the repo being opened and more community help in-coming, it is a good time to figure out the roadmap to v0.2 release. Here is a draft proposal, feel free to reply, comment and discuss about this. Note that the list is long but we could figure out the priority later. We'd like to hear your opinions and push DGL t

[2018-12-12 18:04] jermainewang commented on #290
Hi @cclauss , I put an item in our roadmap issue #302 . We will include this fix in this cycle. Feel free to comment there. Thank you!

[2018-12-12 18:04] #290 closed

[2018-12-12 20:04] BarclayII commented on #302
M2C.

Models:

* [Spatial Temporal Graph Convolutional Networks for Skeleton-Based Action Recognition](https://arxiv.org/pdf/1801.07455.pdf) (Spatio-temporal stuff)
* [Large-Scale Learnable Graph Convolutional Networks](https://arxiv.org/pdf/1808.03965.pdf) (Uses CNN reducer)
* [PinSage](https://arxiv.org/pdf/1806.01973.pdf) (Large scale semi-supervised GCN for recommendation)
* Source code learni

[2018-12-13 01:43] zheng-da commented on #302
I think we should support an operator that does `dot(X1, X2.T) * adj`. This is more general than spmv. When we generalize "multiply" and "addition", it'll be more general than generalized spmv. I think it's useful for transformer.

[2018-12-13 01:55] zheng-da commented on #302
BTW, any action item for accelerating GAT?

[2018-12-13 02:40] jermainewang commented on #302
@zheng-da Is it the same as "sparse `src_mul_dst`" ?

[2018-12-13 02:40] #283 closed

[2018-12-13 03:40] zheng-da commented on #302
I see what you mean by `src_mul_dst`. I think so.

How are we going to implement these operators? in DGL or in the backend? If we implement it in DGL, how to support async computation in MXNet?

[2018-12-13 04:34] BarclayII commented on #302
That will be sparse softmax I proposed?

Seems that PyTorch operators can be implemented externally (https://github.com/rusty1s/pytorch_scatter) so putting that in DGL repo should be fine.

I don't know if/how external operators can hook into MXNet; should we compile MXNet from source?  Also I guess MXNet can implement these operators in their own repo regardless, since having these sparse operato

[2018-12-13 04:39] jermainewang commented on #302
In terms of implementation, it's better to be in DGL so it can be used in every framework. In general, we should follow the guidance of each framework on implementing custom operators (such as [this guide](https://pytorch.org/docs/stable/notes/extending.html) in pytorch). We should avoid dependencies on the framework's C++ libraries. This leaves us few choices including:
(1) Use python extension.

[2018-12-13 05:16] VoVAllen commented on #302
Is there any plan for `group_apply_edges` API? I think this would be useful since we cannot do out-edges reduction at current stage.

[2018-12-13 14:17] zheng-da commented on #302
Previously, we discussed caching the results from the schedulers. It helps us avoid the expensive scheduling. I just realized that there is a lot of data copy from CPU to GPU during the computation even though we have copied all data in Frame to GPU. The data copy occurs on Index (I suppose Index is always copied on CPUs first). Caching the scheduling result can also help avoid data copy from CPU

[2018-12-13 19:37] jermainewang commented on #302
@zheng-da , agree. This should be put on the roadmap.

This is somewhat related to the sparse softmax proposed by @BarclayII. In my mind, there are two levels. The lower-level is `group_apply_edges` that can be operated on both out-edges and in-edges. Built atop of it is the "sparse edge softmax" module that is widely used in many models. Agree this should be put in our roadmap.

[2018-12-13 21:42] BarclayII commented on #302
I assume we also need a "sparse softmax" kernel (similar to TF)?  What I was thinking is to have `group_apply` accept a node UDF with incoming/outgoing edges (similar to the ones for reduce functions).   `sparse_softmax` could be one of such built-in UDFs.

[2018-12-14 02:43] zheng-da commented on #302
We should add more MXNet tutorials in the website.

[2018-12-14 02:47] zheng-da commented on #302
In terms of the implementation of the new operators, CustomOp in MXNet might not be a good way of implementing new operators. It's usually very slow. For performance, it's still best to implement them in the backend frameworks directly. At least, we can do it in MXNet. Not sure about Pytorch.

[2018-12-14 03:02] jermainewang commented on #302
Do you know why is it slow? It might be a good chance to improve that part. Also we need to benchmark Pytorch's custom op to see how much overhead it has. We should try our best to have them in DGL. Otherwise, it will be really difficult to maintain them in every frameworks.

[2018-12-14 03:06] zheng-da commented on #302
It calls Python code from C code. Because the operator is implemented in Python, it's expressiveness is limited. Implementing sparse softmax efficiently in Python is hard.

[2018-12-14 12:25] fabienbaradel opened #304 "Batch mode over a graph"
Hi, I have some question about how to use a graph on a batch of examples. Here is an example:
[code]

Is it correct that by using `dgl.batch` I am sharing the graph between all examples in my graph?
Otherwise could you indicate me how to use it in order to do batch mode?

Thanks in advance

Fabien

[2018-12-14 15:21] zztant opened #306 "How can I implement the function dgl.max_nodes?"
A key operation in PointNet for point cloud processing.

[2018-12-14 15:48] #304 closed

[2018-12-14 15:57] VoVAllen commented on #306
Do you mean in batched graph or in only one graph?

[2018-12-14 16:42] jermainewang commented on #306
Hi @zztant , please ask questions in our discussion forum https://discuss.dgl.ai. We try to keep our issue list only about bugs and features. Thank you.

[2018-12-14 16:42] #306 closed

[2018-12-14 17:32] jermainewang commented on #201
Put this as an item in our roadmap #302 .

[2018-12-14 17:32] #201 closed

[2018-12-15 10:18] ZongweiZhou1 opened #310 "Confusion about the edge indicator matrices 'pmpd' in tutorial 'Line Graph Neural Network'"
## ❓ Questions and Help

Hey, This is a beautiful job and helps me a lot.

However, some questions catch me when I come into the toturial [Line Graph Neural Network](https://docs.dgl.ai/tutorials/models/1_gnn/6_line_graph.html) . I find the edge indicator matrices 'pmpd' refered in origin paper are loaded from '.pkl' file and I cannot refer how the matrices are calculated.

In the origin paper, $P

[2018-12-15 14:34] GaiYu0 commented on #310
Hey,

Thanks for posting this question! Actually we are no less confused than you are.

In the paper, both Pm and Pd are $|V| \times 2 |E|$ matrices. Given Eq. (2), {Pm, Pd} (`pmpd`) has to be a $|V| \times 2 |E|$ matrix as well. How to get a $|V| \times 2 |E|$ matrix from two $|V| \times 2 |E|$ matrices? We emailed the corresponding author but have not heard from him yet. In our implementation, w

[2018-12-15 20:18] jermainewang commented on #310
Hi @ZongweiZhou1 , for general questions, please use our [discussion forum](https://discuss.dgl.ai). This issue will be closed and feel free to raise the question again in the forum.

[2018-12-15 20:18] #310 closed

[2018-12-15 21:11] eric-haibin-lin commented on #302
For sparse softmax I created a feature request at MXNet repo: https://github.com/apache/incubator-mxnet/issues/12729

[2018-12-16 23:13] #232 closed

[2018-12-17 03:09] hurun opened #314 "descriptor 'handle' for 'FunctionBase' objects doesn't apply to 'Function' object"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.RUN 1_gcn.py

## Expected behavior

## Environment

 - DGL Version (e.g., 1.0): 0.1.3
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3): pytorch 1.0
 - OS (e.g., Linux):windows 10
 - How you installed DGL (`conda`, `pip`, source): conda
 - Build command you used (if compiling from source):
 - Python version:3.7
 - CUD

[2018-12-17 05:14] zheng-da commented on #291
I tried running the code for 10000 times, but couldn't reproduce the bug.

[2018-12-17 06:44] BarclayII commented on #314
The error suggests that somehow the attribute `handle` in the `FunctionBase` class didn't show up in the `Function` class, which is a subclass of `FunctionBase`.  Weird...

Could you run the following three lines in Python interactive console (or IPython/Spyder/other equivalents) and paste the output if it doesn't match mine?

[code]

[2018-12-17 07:11] hurun commented on #314
dgl.graph_index._CAPI_DGLGraphCreate
Traceback (most recent call last):

  File "<ipython-input-6-92b5a302a318>", line 1, in <module>
    dgl.graph_index._CAPI_DGLGraphCreate

AttributeError: module 'dgl' has no attribute 'graph_index'

[2018-12-17 07:30] BarclayII commented on #314
Can you try importing dgl.graph_index between 1 and 2?

[2018-12-17 08:34] hurun commented on #314
somethings happend misterry, i don't know why.
if use this command line, it was error.

import dgl.graph_index

dgl.graph_index._CAPI_DGLGraphCreate

Traceback (most recent call last):

  File "<ipython-input-10-92b5a302a318>", line 1, in <module>
    dgl.graph_index._CAPI_DGLGraphCreate

AttributeError: module 'dgl' has no attribute 'graph_index'

-------------------------------------------------

[2018-12-17 08:46] hurun commented on #314
it's sorry, restarting ipython, it works well.

[2018-12-17 10:41] alanlisten opened #317 "ImportError: DLL load failed: The specified module could not be found."
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

 - DGL Version (e.g., 1.0):  dgl-0.1.3:
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3):PyTorch 1.0
 - OS (e.g., Linux): Windows10
 - How you installed DGL (`conda`, `pip`, source): pip
 - Build command you used (if compiling from source):
 - Python version: 3.6
 - CUDA/

[2018-12-17 11:11] VoVAllen commented on #317
Can you take a look on [this](https://github.com/dmlc/dgl/issues/293)? Is this the same problem as yours?

[2018-12-17 12:44] #314 closed

[2018-12-17 14:39] zheng-da commented on #254
<img width="624" alt="screen shot 2018-12-15 at 4 03 12 pm" src="https://user-images.githubusercontent.com/70481/50093711-6b270480-024c-11e9-8070-b0e3225ba21c.png">
The profiling result shows that `_backward_take` takes majority of the time.

[2018-12-17 14:40] #291 closed

[2018-12-17 14:52] BarclayII commented on #293
Reopening this issue since (real) native windows build is being worked on.

[2018-12-18 12:44] alanlisten commented on #293
Why do I use Anaconda, but I still report an error? How did you solve it?

Edit New issue
ImportError: DLL load failed: The specified module could not be found.

[2018-12-18 12:44] alanlisten commented on #293
Thank you for your reply, but I still have not solved the problem. I use Anaconda.

[2018-12-18 12:45] alanlisten commented on #317
Thank you for your reply, but I still have not solved the problem. I use Anaconda.

[2018-12-18 15:54] BarclayII commented on #293
Using anaconda should have you install MinGW dependencies.  Could you make sure you are starting Python within Anaconda (by checking whether the Python banner contains the string `Anaconda`)?

[2018-12-18 15:56] BarclayII commented on #317
Duplicate of #293

[2018-12-18 15:56] #317 closed

[2018-12-19 06:26] DancyHuang opened #321 "when i test DGLGraph API REFERENCE has typeError"
i am new to DGL and be interested in it，after install dgl on python 3, then test API references;  shell below:
-------------------------------------------------------------------------------------------------

{'x': tensor([[ 0.,  0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.,  0.]])}

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  F

[2018-12-19 06:30] #321 closed

[2018-12-19 06:32] DancyHuang commented on #321
it  works ok in pytorch 0.4.1+

[2018-12-19 07:46] BarclayII commented on #293
Native Windows wheels will be available in the next patch release (0.1.4)

[2018-12-21 02:57] AIwem commented on #302
graph_nets?

[2018-12-21 19:01] jermainewang commented on #302
@Alwem, could you elaborate?

[2018-12-22 05:41] jermainewang commented on #302
We did some investigation of graph_nets. We found that DGL could cover all the models in graph_nets. Maybe we miss something. Could you point out?

[2018-12-24 02:35] #75 closed

[2018-12-27 14:07] PuppyWolf opened #329 "Could not found specified module (kernel32.dll) when import dgl"
## ❓ Questions and Help

I had build and install the dgl module followed by the instruction on Win10 . But when I import dgl module and ran the script and then I get back this error message :
     "File "D:\ProgramData\Anaconda3\my_tensorflow\lib\site-packages\dgl-0.1.3-py3.5.egg\dgl\_ffi\base.py", line 35, in _load_lib
    lib = ctypes.CDLL(lib_path[0], ctypes.RTLD_GLOBAL)
  File "D:\ProgramData\

[2018-12-27 14:38] mufeili commented on #329
Hi, it seems that the issue you encountered is very similar to #293 . If you did not install dgl with `conda`, could you please try installing dgl with `conda` and see if the problem still exists?

[2018-12-28 12:54] #329 closed

[2018-12-29 08:36] HuangZhanPeng commented on #302
can node2vec with side information train on DGL

[2018-12-31 20:50] jermainewang commented on #302
Hi @HuangZhanPeng , thank you for the suggestion. It will be great if you could help contribute node2vec and GraphRNN to DGL. From my understanding, the random walk can be done in networkx first and then used in DGL. GraphRNN is similar to the DGMG model (see our tutorials [here](https://docs.dgl.ai/tutorials/models/3_generative_model/5_dgmg.html)) in that it is a generative model trained on a seq

[2019-01-01 04:16] HuangZhanPeng commented on #302
@jermainewang Thank you for your response. Node2vec's random walk on networkx is not available with large scale data, it take much memory. If there is time, I really want to try to implement graphrnn in dgl.

[2019-01-01 10:17] VoVAllen opened #332 "[Feature Proposal] Edge Group Apply API"
## 🚀 Feature
Add edge group apply API

## Motivation
Currently we don't support group apply out edges for each nodes. (in edges can be done with reduce function but not convinient enough)

## Alternatives
No alternative for group apply out edges.

## Proposal
`g.group_apply_egdes(func=edge_func, field=''feat',  direction='in')`
`edge_func` is a function takes `edges` with shape `(batch_size, num_e

[2019-01-02 06:16] VoVAllen commented on #332
This seems a case in `apply_edges` instead of `group_apply`?
Using src and dst to update the edges attribute shoule be `apply_egdes(fn.src_mul_edge(src='h', edge='feat'))`, then using `group_apply(fn.sparse_softmax(...))` to normalize them, in my thoughts.

Do you think consolidate these two API into one `apply_edges` would be better?

[2019-01-02 07:11] yzh119 commented on #332
what i mean is that `fn.sparse_softmax(...)` could also be viewed as an `apply_edges` function, if `group_apply` is required, its interface should be in accordance with that of `apply_edges`.

[2019-01-02 15:18] VoVAllen commented on #332
@jermainewang @ylfdq1118
Could you give any suggestion or some guidance on how to implement this? Such as which file I may need to modify or look into? Thanks a lot!

[2019-01-02 15:41] yzh119 commented on #332
I've implemented a kernel for `sparse_softmax`, but in fact I'm more interested in the general form of `group_apply`, I don't think it's a good idea to write a kernel for each case.

[2019-01-02 17:26] ylfdq1118 commented on #332
I am thinking about having a `group_apply` as DGLGraph API and then have some builtin function (similar to send and recv) like `fn.softmax`, which binds to @yzh119 's sparse_softmax kernel (by the scheduler). For the case where no builtin is available, we do degree bucketing again.

As to whether we should merge apply_edge and group_apply into one, I think it's ok to merge, but there is a little b

[2019-01-03 08:11] VoVAllen commented on #332
Thanks! I've corrected it in my proposal.

[2019-01-03 14:15] sufeidechabei opened #334 "Creating DGLGraph from non-consecutive int nodes"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
[code]
[code]

## Expected behavior

networkx graph to dgl graph

## Environment

 - DGL Version (e.g., 1.0): 0.1.3
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3): Pytorch 0.4.1
 - OS (e.g., Linux): Linux
 - How you installed DGL (`conda`, `pip`, source): pip
 - Python version:3.6.7
 - CUDA/cuDNN version (if applicabl

[2019-01-03 15:42] mufeili commented on #334
When you perform `data.graph.remove_nodes_from(total_delete_list)`, the nodes left will not be re-indexed. In `dgl` we are always indexing nodes with `0, ..., num_nodes-1`. Therefore you can end up asking to add edges between nodes dgl consider not to exist. A temporary workaround can be done by re-indexing the nodes and maintaining a mapping between the original node index and the node index afte

[2019-01-03 16:44] jermainewang commented on #334
We could provide a utility function similar to networkx's [`convert_node_labels_to_integers`](https://networkx.github.io/documentation/stable/reference/generated/networkx.relabel.convert_node_labels_to_integers.html#networkx.relabel.convert_node_labels_to_integers), and give a better error message for this.

[2019-01-03 18:50] yzh119 opened #335 "Custom OP"
## 🚀 Feature
Custom op.
- [x] Kernel for `masked_matrix_multiplication` (both forward and backward)
- [x] Kernel for `sparse_softmax` (both forward and backward)
- [x] Kernel for `vector-shape spmm` (both forward and backward)
- [x] PyTorch wrapper.
- [x] Multi-Head
- [ ] CPU
- [ ] MXNet
- [ ] ...

## Motivation

Current self-attention implementation in DGL is not efficient and uses too much GPU m

[2019-01-03 19:26] #267 closed, assigned to nobody

[2019-01-04 18:54] jermainewang commented on #334
@mufeili would you help on this?

[2019-01-05 09:03] sufeidechabei opened #339 "Bugs in nxgraph(mxnet) to DGLgraph"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:
[code]

[code]

## Expected behavior

## Environment

 - DGL Version (e.g., 1.0): 0.1.3
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3): MXNet
 - OS (e.g., Linux): Linux
 - How you installed DGL (`conda`, `pip`, source): pip
 - Python version: 3.6.7
 - CUDA/cuDNN version (if applicable): 9.0
 - GPU models and configura

[2019-01-05 09:47] mufeili commented on #334
Sure.

[2019-01-05 09:50] mufeili commented on #339
I assume this is a different issue from #334 ? Could you please provide a snippet of code with which we can really run and reproduce the issue?

[2019-01-06 00:43] sufeidechabei commented on #339
examples/mxnet/gat_batch.py @mufeili

[2019-01-07 05:30] mufeili commented on #339
@sufeidechabei I reproduced the problem with running `mxnet 1.3.0` on cpu. This problem does not occur with running `mxnet 1.5.0` on cpu. You can install `mxnet 1.5.0` with `pip install --pre mxnet`.

[2019-01-07 13:30] sufeidechabei commented on #339
okay, thanks.

[2019-01-07 13:30] sufeidechabei commented on #339
Do we need to inform the version of mxnet?

[2019-01-08 21:10] rmurphy2718 opened #346 "Users should not make assumption in the batch dimension."
## 📚 Documentation

In the API reference for "[user-defined function related data structures](https://docs.dgl.ai/api/python/udf.html#module-dgl.udf)", you write

This makes me very nervous, because it sounds like we never know what to expect the input to look like when writing the `Edge UDF` or `Node UDF`.  For example, in the Karate tutorial with GCN, you use `torch.sum(nodes.mailbox['msg'], dim

[2019-01-08 21:31] jermainewang commented on #346
This looks like a general question rather than a document improvement. Please use our [discussion forum](https://discuss.dgl.ai) so your question could help the others.

There are two things here.

First, **how many dimensions of the tensors and what are their semantics?** This is fixed and will not change in the future. To elaborate, `nodes.data['feat']` always returns a tensor of shape `(B, D1,

[2019-01-08 21:37] BarclayII commented on #346
The features in `edges.src`, `edges.dst` and `edges.data` of Edge UDF, as well as `nodes.data` of Node UDF, are *always stacked along the first dimension* (i.e. `dim=0`).  The statement you quoted actually means that one should not make any assumption on **how** the features are stacked (e.g. how many nodes/edges are stacked at a time, what is the order of stacking, etc.)

For message receiving, i

[2019-01-08 21:43] rmurphy2718 commented on #346
Thank you for your quick and helpful response!  I'm sorry for posting this in the wrong place, I will use the discussion forum in the future and also include a link to this post in the forums so others can find it.

[2019-01-08 21:46] jermainewang commented on #346
Yeah, @BarclayII please go ahead and fix that. Also @rmurphy2718 thanks for the question so we could fix the vagueness.

[2019-01-08 21:46] #346 closed

[2019-01-09 23:19] patrickgrad opened #347 "Dependency 'requests' not included with conda installation"
## 🐛 Bug
It seems that the required 'requests' library is not included when installing DGL through conda.

## To Reproduce
This can be seen by running one of the example codes in a fresh conda environment(with no raw data downloaded).

Steps to reproduce the behavior:

conda create -n new_env python
conda activate new_env
conda install -c dglteam dgl
conda install pytorch
python examples/pytorch/g

[2019-01-10 00:01] jermainewang commented on #347
The main package does not depend on `request` package. It is used in the examples to download data. But agree we should put an `requirements.txt` under the GCN folder.

[2019-01-10 18:04] mufeili commented on #334
Fixed in #341

[2019-01-10 18:04] #334 closed

[2019-01-11 08:17] weiguochow opened #350 "dgl has no attribute DGLGraph"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1.`import dgl`
1.`g = dgl.DGLGraph()`
1.

## Expected behavior

## Environment

 - DGL Version (e.g., 1.0):
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3):
 - OS (e.g., Linux):
 - How you installed DGL (`conda`, `pip`, source):
 - Build command you used (if compiling from source):
 - Python version:
 - CUDA/cuDNN ver

[2019-01-11 08:31] weiguochow commented on #350
@mufeili
DGL Version (e.g., 1.0):  used pip install dgl, I think it would the newest version
OS (e.g., Linux): Ubuntu16.04
How you installed DGL (conda, pip, source): pip install dgl
Build command you used (if compiling from source):
Python version:3.7

Thank you!!!!

[2019-01-11 08:34] VoVAllen commented on #350
Which directory are you in when you execute `import dgl`? It seems you didn't import the right dgl. You can check this by seeing `dgl.__path__`

[2019-01-11 08:38] weiguochow commented on #350
@VoVAllen
I find the path is `'/home/alex/anaconda2/envs/3.6pytorch0.41/lib/python3.6/site-packages/dgl'` which i installed by pip method.  Whether I has to put the source files of dgl in that directory?
Thank you!!!

[2019-01-11 08:42] mufeili commented on #350
@weiguochow It seems that the `pip` you used is for a specific conda environment, which is `3.6pytorch0.41`, have you activated that environment with `source activate 3.6pytorch0.41`? If this does not work, could you please try `pip uninstall dgl` and see if you can still `import dgl`?

[2019-01-11 08:49] weiguochow commented on #350
@mufeili I have activated the environment "3.6pytorch0.41". And I can import `dgl` but it has no attribute `DGLGraph()`. Then, I change the work directory to source directory "dgl", it worked, i.e. `DGLGraph` found.

[2019-01-11 08:56] mufeili commented on #350
Interesting, my guess is that there is something wrong with your path variables for `conda/pip`. Alternatively, can you try installing `dgl` with `conda` directly?

[2019-01-11 09:12] weiguochow commented on #350
Ok, I will try to use `conda` method.

[2019-01-11 09:22] weiguochow commented on #350
I have solved this problem. Thank you!!!

[2019-01-11 17:00] mufeili opened #354 "[Bug in Example] Multi-head features not properly handled"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. `python examples/pytorch/gat/train.py --dataset cora --residual`

## Expected behavior

[code]

## Environment

 - DGL Version (e.g., 1.0): 0.1.3
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3): PyTorch 1.0.0
 - OS (e.g., Linux): Mac
 - How you installed DGL (`conda`, `pip`, source): source
 - Build command you use

[2019-01-12 13:00] hanyanbo98 commented on #293
It seems to happen when I used anaconda without installing vsXXXX_runtime or vsXXXX_win-64. And when they were installed, no more [OSError] happened.

[2019-01-12 13:37] #354 closed

[2019-01-12 13:37] #347 closed

[2019-01-12 13:38] jermainewang commented on #347
Included in #355

[2019-01-12 13:39] jermainewang commented on #339
The version is nightly built. See build instruction here: https://docs.dgl.ai/install/index.html#working-with-different-backends.

[2019-01-12 14:57] #339 closed

[2019-01-15 02:47] mufeili opened #357 "[Doc] Improve Documentation for Message Passing and Computing"
## 📚 Documentation

This issue is related to the API documentation for message passing and is motivated by [a discussion thread](https://discuss.dgl.ai/t/source-node-features-are-emptied/75/5). Briefly, when we are performing `update_all` or applying `recv`/`pull` to all nodes, if some nodes do not have incoming edges, a zero placeholder will be employed and likely to overwrite the original node f

[2019-01-16 04:32] jermainewang commented on #357
There is a paragraph about zero-degree behaviors in the docstring of [`recv`](https://docs.dgl.ai/generated/dgl.DGLGraph.recv.html#dgl.DGLGraph.recv). It's a little bit deep though.

[2019-01-16 10:08] mufeili commented on #357
@jermainewang Probably we should still highlight it somewhere else as new comers may directly use `update_all` without paying attention to `recv`?

[2019-01-17 16:51] BarclayII commented on #293
@Zayme249Shaw You only need one of these files.  `libdgl.dll` is the output from MinGW compilers and `dgl.dll` is the one from MSBuild.  We will switch to the MSBuild one in the next release.

[2019-01-22 18:10] jermainewang commented on #357
@mufeili agree. How about add things like "For nodes with no-incoming message, the reduce function will be skipped. See recv(give link) for more details." in the docstring of `update_all` and `pull`?

[2019-01-22 18:42] mufeili commented on #357
@jermainewang Sure. But I think the emphasis should be placed on that if `update_all` and `pull` are applied to nodes with no incoming messages, their node features will be overwritten, yielding highly likely undesired behavior. In that case users should use `send_and_recv` instead.

[2019-01-28 00:02] jermainewang opened #368 "[RFC][Feature] NodeFlow API"
We use this issue to discuss about a proposal (by @zheng-da @BarclayII ) of a new API: `NodeFlow`.

## Motivation
In current DGL, `DGLGraph` is the core data structure to represent graph. It is very convenient to represent a **flat data graph**. For example, we use `DGLGraph` to represent the citation graph from `CoraDataset`, the sentence parse tree from `SSTDataset`, etc.

However, when it comes

[2019-01-28 00:35] jermainewang commented on #368
You are right.

Try to be consistent with `ndata` and `edata`, but definitely could change that if it is too short to be clear.

[2019-01-28 00:39] jermainewang commented on #368
How about having a separate PR first just about the `NodeFlow`? We try to finish that PR ASAP. Then you could fix the neighbor sampling based on that.

[2019-01-28 01:17] zheng-da commented on #368
It's a little akward. Without neighbor sampling, how are we going to test `NodeFlow`?

[2019-01-28 03:52] zzhang-cn commented on #368
- I'm fine with `NodeFlow`.
- `Layer` in GCN community typically means a *new* layer with a different set of parameters; I would think `slice` is better.
- if we use `slice` instead, we need use `sdata` not `ldata`
- `fdata` can be confused with features in user's mind.
- are there cases where sampling needs to be done after one slice is computed? i.e., are there scenarios where a compelte, L-slic

[2019-01-28 04:20] jermainewang commented on #368
I'm fine with `slice`. In such case, I suggest follow Da's proposal: `slice_data` and `flow_data` to avoid confusion.

Interesting point. I am not aware of such scenario at the moment but seems totally reasonable. We actually thought about following `append` API:
[code]

Note that the API must return a new nodeflow because nodeflow is an immutable data structure (for best efficiency).

The questio

[2019-01-28 22:19] jermainewang commented on #254
Closed due to inactive and shifted priority.

[2019-01-28 22:19] #254 closed

[2019-01-28 22:19] jermainewang commented on #255
Closed due to inactive and shifted priority.

[2019-01-28 22:19] #255 closed

[2019-01-29 03:01] zheng-da opened #369 "TODO list for ImmutableGraph related features"
## 🚀 Feature

Current `ImmutableGraph` (merged in #342 ) still lacks some functionalities. This might be a problem when user switch from normal graph to it (some APIs will break). For example, ImmutableGraph needs to support FindEdges, EdgeSubgraphs, batching graphs, etc.

We use this issue to book-keep all the missing features.

[2019-01-29 07:34] yzh119 commented on #369
Could you elaborate more on EdgeSubgraphs?

[2019-01-29 10:11] yzh119 commented on #369
TODOs:
- FindEdges
1. `FindEdge(dgl_id_t eid)`
2. `FindEdges(IdArray eids)`

[2019-01-29 16:26] zheng-da commented on #368
each layer have different functions (with different parameters). I don't think these two APIs are useful.

[2019-01-29 16:29] jermainewang commented on #368
@zheng-da , that's why `register` has `layerid` as the argument.

[2019-01-29 17:08] zheng-da commented on #368
I didn't notice `layerid`.

[2019-01-29 17:23] zheng-da commented on #368
I still find this API is inconvient to use. In my implementation of [gcn_cv_updater](https://github.com/zheng-da/dgl-1/blob/cv_updater/examples/mxnet/gcn/gcn_cv_updater.py#L65), the first layer (the layer close to the input data) doesn't need msg_func and reduce_func because it has computed before, so I simply apply node_update_func.

[2019-01-29 17:44] zheng-da commented on #368
maybe somthing like this:
[code]
We should allow users to customize the computation for each layer. If the computation in a layer is very customized, the user needs to fall back to the original DGLGraph API.

[2019-01-29 17:59] zheng-da commented on #368
Here is the code of what GCN with control variate + updater looks like.

Here is the trainer code:
[code]

Here is the updater code:
[code]
It's not realistic to write the updater code the same as the trainer code, at least not for now. Writing data to a layer of NodeFlow requires index_copy, which generates a lot of unnecessary memory copy.

[2019-01-30 02:02] jermainewang commented on #368
Comments for the traininer code:

I see what you mean. How about this:
* The first layer is always the input layer.
* Since there is no in-coming link to the input layer, there is no need to define computation for it. The node apply in `self.ind == 0` is actually not needed. Even if a node apply is required, this can be done outside of Nodeflow.

With this in mind, the code will look like this (al

[2019-01-30 02:05] jermainewang commented on #368
Isn't this something we should avoid in NodeFlow? I think the feature data of each layer should be stored separately, so `nflow.layer_data[self.ind-1]['h'] = h` only replaces tensor reference.

[2019-01-30 02:48] zheng-da commented on #368
If so, I think we shouldn't inherit from DGLGraph. Otherwise, what is `ndata`?

[2019-01-30 03:17] jermainewang commented on #368
Yeah, that's something should be discussed. What is the data structure for storing node/edge features? and how to support the `DGLGraph` interface?

[2019-01-30 05:34] zheng-da commented on #368
@BarclayII PinSage code seems to fit well in the NodeFlow API.

[2019-01-30 05:48] jermainewang commented on #368
Suppose we use list of frames to store node/edge features:

[code]

Some thoughts:
* All the graph structure related APIs can be directly reused (e.g. in_edges, out_edges, ...)
* Feature manipulation APIs like `ndata` and `edata` require some tweak. For example, to get the feature of node#10, we need to first find out which layer it resides in and then query the corresponding layer frame.
* Messag

[2019-01-30 05:58] zheng-da commented on #368
Even the propagation needs tweak. not all layers have the same msg_func, red_func and node update func. Maybe we can create DGLBaseGraph that contains graph structure API. and create a new set of message passing API for NodeFlow.

[2019-01-30 06:16] jermainewang commented on #368
I feel the same. How about:
[code]
`range` can be one int, or slice like 1:3. If is slice type or ALL, the arguments should be lists.

[2019-01-30 08:43] mufeili commented on #368
@zzhang-cn I think `layer` is better than `slice`. Based on the discussion, it seems that except possibly for the input layer, each layer will have separate `msg`, `reduce`, `apply_node`, `apply_flow` functions, and likely to have a different set of parameters. This naming also matches what the authors of the
papers tend to use (the `i`th GNN layer).

Some other thoughts:
1. For GNN training with

[2019-01-30 09:58] zzhang-cn commented on #368
I don't understand why updater's logic isn't *exactly* the same as the vanilla GCN? Because NodeFlow will change across epoches (each epoch presumably builds a different DAG via sampling), so the conservative way would be just run GCN over the full graph. Or are you assuming updater is running over the NodeFlow of a new epoch?

[2019-01-30 10:48] zzhang-cn commented on #368
@mufeili @VoVAllen and I got together and looked through the codes. We assume the one we quoted is the most up to date; we also took a look at @BarclayII 's implementation of [pinSage](https://gist.github.com/BarclayII/ba88c3101a1ab784c5f27f73e2088ec1).

Couple of thoughts:
- How will mini-batch training gets incorporated? (say, using PinSage as an example).
- Is the control variate correct? It lo

[2019-01-30 16:01] zzhang-cn commented on #368
Here are some more additional thoughts:
- The idea of NodeFlow is to separate the refinement of graph (though sampling) from the core logic, so it will be nice to see codes in the forward funcction of the main module has no or very few changes.
- This principle then moves sampling constructs into whatever algorithms we are using, see Andy's code [here](https://gist.github.com/BarclayII/ba88c3101a1

[2019-01-30 16:42] jermainewang commented on #368
From @mufeili

Can `append` API handle this?

Don't understand.

From @zzhang-cn

They should be the same, but I guess @zheng-da also considered the efficiency of using NodeFlow for full graph GCN. The issue the the memory consumption of the graph structure. Suppose we have a graph G(V, E). Using `DGLGraph`, we only need to store the graph once so the memory consumption is O(|V|+|E|). However, if

[2019-01-30 17:07] jermainewang commented on #368
Another question from @zzhang-cn

Drawed a figure below. See whether this makes sense to your guys:

![nodeflow-map](https://user-images.githubusercontent.com/4057701/51998610-f966eb00-2486-11e9-91ae-14c28cfc003c.png)

Several notes:
* Input embedding and history embedding can be treated the same. They are just external data for nodes with no in-coming flow. That's why we have a `copy_from_parent`

[2019-01-30 18:44] zheng-da commented on #368
The purpose of the updater is to prepare the history data. In my implementation, instead of computing history data on nodes, I also compute the aggregation of the history data so that we don't need all neighbors of a sampled node. In this way, we can use normal neighbor sampler directly.

As shown below, the white nodes are sampled. we store 'agg_h_%d' on white nodes and we don't need greys nodes

[2019-01-30 18:56] jermainewang commented on #368
Does that means, in my figure, there is no blue node on layer0?

[2019-01-30 18:58] zheng-da commented on #368
Here is the full implementation of GCN + CV + updater with the NodeFlow API.
https://github.com/zheng-da/dgl-1/blob/fix_sampler1/examples/mxnet/gcn/gcn_cv_updater.py

[2019-01-30 19:00] zheng-da commented on #368
@jermainewang It's not necessary. But it's really up to the user. We should give users to flexibility of implementing the algorithm in the way they like, but we can provide a recommended way of implementing it.

[2019-01-30 22:57] zheng-da commented on #368
![cv](https://user-images.githubusercontent.com/70481/52017703-0393e400-249d-11e9-9539-7a27a0911978.png)
To implement control variate sampling, we have two choices. The first is to sample nodes and all of their neighbors, as shown in the figure above. It's doable to sample such a graph if we write a specific sampler for this algorithm. However, it's not very easy to write implement this. A potenti

[2019-01-31 01:20] zheng-da commented on #368
![nodeflow](https://user-images.githubusercontent.com/70481/52023356-a191a980-24b1-11e9-9207-75922a934937.png)
Here are the NodeFlow semantics I would like to propose. Each layer has its own id space. Nodes from the flat graph may appear in different layers multiple times, but can only appear in the same layer once. For simplicity, all nodes in a layer should have the same features/embeddings and

[2019-01-31 01:34] jermainewang commented on #368
What's the difference with the image above? (the blue/black nodes one)

[2019-01-31 01:36] zheng-da commented on #368
The biggest difference is all nodes in a layer should have the same features/embeddings and perform the same computation. That is, we don't need to distinguish blue/black nodes, which makes it difficult to define computation on the nodes and edges.

[2019-01-31 07:44] mufeili commented on #368
I think so, a hard clustering algorithm can be used to cluster the nodes based on connectivity and node embeddings and then a new flow and layer can be added indicating the mapping between the original graph and the pooled/coarsened/reduced graph.

As you mentioned, since the graph structure is unfolded, we end up with O(L * (|V| + |E|)) memory consumption. There can be cases when several consecut

[2019-01-31 10:14] pschwllr opened #370 "JTNN example -- floating point exception"
## 🐛 Bug

I get a floating point exception on `loss.backward()`, when executing `dgl/examples/pytorch/jtnn/vaetrain_dgl.py`.

I was wondering if this was also observed by others.

[code]
## To Reproduce

Steps to reproduce the behavior:

1. NOCUDA=1 python vaetrain_dgl.py

## Environment

 - DGL Version (e.g., 1.0): dgl 0.1.3 <pip>
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3

[2019-02-01 00:17] BarclayII commented on #370
Seems that PyTorch changed the behavior of empty tensors quite a lot in 1.0 and it has a bug (?) in gradient computation of an empty boolean-masked slicing of an array.  I filed an issue [there](https://github.com/pytorch/pytorch/issues/16635).

[2019-02-01 03:35] BarclayII commented on #370
Fixed in #371.
This is only related to PyTorch 1.0, so it should also work with current release (0.1.3).

[2019-02-01 03:35] #370 closed

[2019-02-02 20:05] yzh119 commented on #369
@zheng-da I've implemented the two APIs:
[code]
For efficient implementation the `edge_ids` must be sorted, which might not be the general case, even though we may accomplish this by enforcing the rows and cols in coo-matrix for initialization to be sorted during the graph building phase(this is the current solution I used for beam search in Transformer).

I was wondering if we could first map the

[2019-02-03 05:10] zheng-da commented on #369
If we store a hashtable, it's better to store an edge list. Unfortunately, we should add many data structures to immutable graph index because we expect it'll be used to store giant graphs. We hope it uses as little memory as possible to store the graph structure.

[2019-02-06 14:00] giuseppefutia opened #375 "Error running R-GCN"
## 🐛 Bug

Following error running the example on rgcn:
`AttributeError: type object 'requests_failed_to_import' has no attribute 'get'`

## To Reproduce

Steps to reproduce the behavior:

1. Run the following commands to create a conda env and install required libraries:
[code]
2. Run the test command:
[code]

## Expected behavior

Obtain MRR on the R-GCN.

## Environment

 - DGL Version (e.g., 1.

[2019-02-06 16:06] ylfdq1118 commented on #375
Did you install requests?
[code]

[2019-02-06 17:43] giuseppefutia commented on #375
Thank you, now it works!

Can I create a pull request for the README.md, suggesting to install pytorch and requests?

[2019-02-07 21:18] ylfdq1118 commented on #375
Yeah, that's a good idea.

And I think it's better to suggest installing tensor backend and requests package for every example model, not just R-GCN. Maybe let me create a PR to update all READMEs.

[2019-02-08 18:50] ZiyueHuang opened #376 "Storage Fallback in SPMV Trainig using MXNet"
Currently if we use SPMV schedule in training there is a message
[code]

This is because `dot(csr, default, transpose_a=True) = row_sparse` used in backward. In the setting of graph learning, the output storage type of `dot(csr, default, transpose_a=True)` is better to be dense then we can avoid this overhead of cast_storage.

Could we also support `dot(csr, default, transpose_a=True) = default` b

[2019-02-08 18:53] szha commented on #376
@ZiyueHuang this is probably better submitted as a feature request on mxnet repo.

[2019-02-08 22:39] zheng-da commented on #376
agree

[2019-02-09 13:04] #376 closed

[2019-02-10 03:53] hbsun2113 opened #377 "Where is the dgl.data.MiniGCDataset?"
The tutorial uses a dataset ```dgl.data.MiniGCDataset```as following:
![image](https://user-images.githubusercontent.com/27994442/52529313-87b25b00-2d2a-11e9-8677-75808be8197d.png)

But when I import it, there occurs a problem:
![image](https://user-images.githubusercontent.com/27994442/52529314-8aad4b80-2d2a-11e9-9bb8-cc2160e361d0.png)

[2019-02-10 04:11] hbsun2113 opened #378 "How to read the source code?"
I want to read the source code of ```dgl```, can you give me a guide?

[2019-02-10 04:26] hbsun2113 opened #379 "Install from source and cannot find dmlc and dlpack."
I use macos and install dgl from the source code. I meet the problem as follow:
![image](https://user-images.githubusercontent.com/27994442/52529579-d06c1300-2d2e-11e9-9f9a-aeefe20435d2.png)
I open the project, and I find there loses some file:
![image](https://user-images.githubusercontent.com/27994442/52529583-f09bd200-2d2e-11e9-8ebf-76ee5d24ecad.png)
![image](https://user-images.githubuserconte

[2019-02-10 04:38] yzh119 commented on #379
To install dgl from source, please follow the [instruction](https://docs.dgl.ai/install/index.html#linux).
You met the problem because you missed `--recursive` when calling `git clone --recursive https://github.com/dmlc/dgl.git` so that submodules have not been fetched.

You may run the following to manually download the submodules:
[code]

[2019-02-10 04:52] yzh119 commented on #377
I think this problem would have been fixed if you correctly installed the latest version of dgl.

[2019-02-10 05:57] VoVAllen commented on #378
We will have a blog on explaining how dgl works. Please stay tuned!

[2019-02-10 07:33] mufeili commented on #377
I guess you need to install from source for the time being. Sorry for the inconvenience. @hbsun2113

[2019-02-10 08:25] hbsun2113 commented on #378
@VoVAllen Great! Can you tell me the timeline?

[2019-02-11 11:46] #379 closed

[2019-02-11 11:48] hbsun2113 opened #383 "copy-out vs. zero-copy"
Can you explain the difference between of them in this code？
![image](https://user-images.githubusercontent.com/27994442/52561327-034cfe80-2e36-11e9-9311-76d08bd3380d.png)

[2019-02-11 12:36] yzh119 commented on #383
Could you elaborate more on your question?
Plus, you are encouraged to ask general questions in our [discussion forum](https://discuss.dgl.ai), we are trying to keep our issue list only about feature requests and bugs in code/documentation.

[2019-02-11 13:24] hbsun2113 commented on #383
OK! https://discuss.dgl.ai/t/implemention-copy-out-vs-zero-copy/106

[2019-02-11 16:15] jermainewang commented on #378
@hbsun2113 could you create a question in our [discussion forum](https://discuss.dgl.ai)? I will answer it there so more people can see it. Thanks.

[2019-02-11 16:15] #378 closed

[2019-02-11 16:19] #383 closed

[2019-02-11 16:20] jermainewang commented on #377
We will include this in our next release v0.2.

[2019-02-12 04:05] ylfdq1118 commented on #332
Done in #358

[2019-02-12 04:05] #332 closed

[2019-02-12 04:06] ylfdq1118 commented on #375
Done in #380

[2019-02-12 04:06] #375 closed

[2019-02-12 07:11] #377 closed

[2019-02-12 08:13] qzshadow opened #384 "Giant graph plan?"
I am quite curious about the scalability of dgl. In practice, I had to deal with graphs with millions of node and edges or even more. Based on my observations, dgl is a standalone framework which performs deep learning algorithms on the graph, that means it will suffer from the memory limitations of the machine it deployed, am I correct?

[2019-02-12 17:42] zzhang-cn commented on #384
We are working on support for "giant graph". Beyond a certain scale, we
have to use sampling. Please stay tuned, but you can also try to see how
much you can scale for now.

On Tue, Feb 12, 2019 at 4:13 PM qzshadow <notifications@github.com> wrote:

--

*Zheng Zhang <https://shanghai.nyu.edu/academics/faculty/zheng-zhang> 张峥*

Professor of Computer Science, NYU  Shanghai 上海纽约大学计算机系教授

Room 1118, 1

[2019-02-12 17:50] jermainewang commented on #384
@qzshadow for general questions, please use our [discussion forum](https://discuss.dgl.ai). Thank you.

[2019-02-12 17:50] #384 closed

[2019-02-13 11:21] yuchenlin opened #385 "'BatchedDGLGraph' object has no attribute 'to'"
## 🐛 Bug

## To Reproduce

Steps to reproduce the behavior:

1. Following the tutorial of using batched graphs [here](https://docs.dgl.ai/en/latest/tutorials/basics/4_batch.html)
2. in the for loop, I am trying to call `bg.to(device)`, where `device` is from `device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")`.

## Expected behavior
1. My goal is to save the graph batch into g

[2019-02-13 11:24] yuchenlin commented on #385
I think this `to` should be a recommended way in PyTorch 4.1 and 1.0 to replace `.cpu` and `.cuda`

[2019-02-13 12:07] yuchenlin opened #387 "A bug in the tutorial of RGCN"
## 📚 Documentation

For the [Relational Graph Convolutional Network Tutorial](https://docs.dgl.ai/en/latest/tutorials/models/1_gnn/4_rgcn.html#define-full-r-gcn-model),
there is a line `h2h = self.build_hidden_layer(idx)` that will report a bug since the defination of `self.build_hidden_layer` has no argument for `idx`

[2019-02-13 12:11] yuchenlin commented on #387
This `idx` was used to indicate whether it is the final layer, but I think it is not useful in this context.

[2019-02-13 12:12] mufeili commented on #385
Hi, rather than moving the batched graph to gpu with `bg.to('cuda: 0')`, you only need to move the node  (and potentially edge) features to gpu with `features.to('cuda: 0')`. In the tutorial, this corresponds to `g.in_degrees().view(-1, 1).float().to('cuda: 0')`.

[2019-02-13 12:20] yzh119 commented on #385
Hi Bill,
There are two important components of `DGLGraph`:
- [graph index](https://github.com/dmlc/dgl/blob/master/python/dgl/graph_index.py): the structure of the graph(adjacency matrix, csr/coo representations, ...), such information are supposed to be stored in cpu memory.
- [frame](https://github.com/dmlc/dgl/blob/master/python/dgl/frame.py): node/edge features of the graph. Different fields o

[2019-02-13 12:40] yzh119 commented on #387
Thanks for pointing this out. We'll fix this.

[2019-02-13 20:04] jermainewang commented on #385
We didn't provide a graph level `to` API for two reasons:
* To allow different features on different devices as Zihao has pointed out.
* To allow distributed storage in the future (i.e, the feature tensors can be stored distributed on multiple GPUs).

So if feature 'x' is a GPU tensor, then in UDF, `nodes.data['x']` gives a GPU tensor. For built-in functions, we will look at the context of the fea

[2019-02-13 20:39] yuchenlin commented on #385
Hi Mufei, Zihao, and Minjie,

Thanks so much for the help!  Yeah, I think this is a good, reasonable design for giving users more flexibility on assigning the node/edge features on different devices. It would be just better if we can have a section in the document for this example, so other users can know and follow this design.

Thanks again for the great DGL!

[2019-02-13 20:40] #385 closed

[2019-02-15 03:30] #387 closed

[2019-02-15 03:31] yzh119 commented on #387
Fixed.

[2019-02-16 13:32] hbsun2113 opened #396 "I am confused about the calculation order of GAT"
In the implementation of GAT, you apply normalizer after computing the aggregated node features as following:
![image](https://user-images.githubusercontent.com/27994442/52900525-d469ca80-3231-11e9-952d-92260e6a484a.png)
However, in the original paper, the authors apply normalizer before computing the aggregated node features as following:
![image](https://user-images.githubusercontent.com/2799444

[2019-02-16 17:57] jermainewang commented on #396
Hey @hbsun2113 , could you ask it in the discussion forum? Thank you.

[2019-02-16 17:57] #396 closed

[2019-02-17 07:32] hbsun2113 commented on #357
![image](https://user-images.githubusercontent.com/27994442/52909799-14c85780-32c9-11e9-8ef9-26d6c4768423.png)
Could you explain the picture of the PageRank tutorial? I am confused about the type of data and line.
@mufeili

[2019-02-17 13:49] mufeili commented on #357
Basically for a directed edge `(i, j)` from source node `i` to destination node `j`, we want to update the feature of `j` (`edge.dst.data` in the figure) based on the feature of `i` (`edge.src.data` in the figure) and optionally the feature of the edge (`edge.data`). The whole process proceeds as follows:
1. The source node `i` sends a message computed by a function of the feature of node `i` and

[2019-02-18 07:25] VoVAllen commented on #357
The orange line means the output(destination) of the user defined functions and the blue line means the input of the user defined functions.

[2019-02-18 21:09] jermainewang commented on #302
Just updated the roadmap with a checklist. Our tentative date for this release is this month (02/28).

For all committers @zheng-da @szha @BarclayII @VoVAllen @ylfdq1118 @yzh119 @GaiYu0 @mufeili @aksnzhy @zzhang-cn @ZiyueHuang , please vote +1 if you agree with this plan.

[2019-02-19 01:55] yzh119 commented on #302
+1

[2019-02-19 01:56] BarclayII commented on #302
I would rather reply with emoticon.  +1 as reply would pollute the thread.

[2019-02-20 08:28] Tiiiger opened #398 "Including example implementation of Simple Graph Convolution"
I'd like to first thank the authors for maintaining such a general framework. I believe this project can really accelerate the development of graph learning.

In our recent paper (https://arxiv.org/pdf/1902.07153.pdf), we discover a linear model (Simple Graph Convolution, SGC) that is as effective as GCN while saving a lot of training time. We have our official implementation at https://github.com

[2019-02-20 08:58] mufeili commented on #398
@Tiiiger The results of your paper are really impressive. Thank you for introducing your paper. I believe this is worth a highlight and we'll go back to you soon.

[2019-02-20 09:10] zheng-da commented on #398
If you can preprocess the message passing step, it sounds to me that you can put the preprocessed result as node data and call apply node function.

[2019-02-20 12:58] yzh119 commented on #398
Hi, I've made a rough implementation of SGC in dgl:
https://gist.github.com/yzh119/7c574606b8795369242ba2679cd2fa97
@Tiiiger , @mufeili could you please check if this is equivalent to the original paper?
To run the experiment on Cora, run the following:
[code]
Result on Cora: test acc is 81.86±0.08 (run 5 times and take the average)

[2019-02-20 14:48] Tiiiger commented on #398
@yzh119 The model performance looks correct to me.

However, due to my unfamiliarity with the API, can you help clarify how is the message passing precomputed? Or is it still computed every time during forward()?

[2019-02-20 15:36] yzh119 commented on #398
In my implementation, I've not pre-computed S^K, but iteratively applies S on X\Theta.
More specifically, we implement
![image](https://user-images.githubusercontent.com/11773619/53102741-45c5b800-3567-11e9-93ff-dafa10df88dc.png)

in [L36-L46](https://gist.github.com/yzh119/7c574606b8795369242ba2679cd2fa97#file-sgc-dgl-py-L36-L46):
[code]
This might not be as efficient as precompute S, but it's st

[2019-02-20 16:40] Tiiiger commented on #398
I see, sounds great! Although for large graphs (like the Reddit dataset), the precomputation can really make a difference. So I think it would be nice to showcase how to to do this.

I think one way to support this feature is that when initializing the SGC object, we can precompute the propagation and store the result as a cached variable.
Another way, as @zheng-da mentioned, is to store the preco

[2019-02-20 17:29] #368 closed

[2019-02-20 18:00] jermainewang commented on #302
The release plan passed by voting.

[2019-02-21 07:19] Tiiiger commented on #398
I went ahead to implement the cached variable version. The gist is here: https://gist.github.com/Tiiiger/1ebe88ca0844f947f43e6ed4e1f088bd

The example should run much faster because during training, you only need to compute the training examples. For Citeseer and Pubmed, use weight_decay 5e-5 and just train for 100 epochs should get you a decent result. If possible, @yzh119 can you help benchmark

[2019-02-21 15:09] yzh119 commented on #398
@Tiiiger
Results (on NVIDIA V100):
- cora test acc: 82.10% (weight_decay 5e-6), 0.0008s/epoch
- citeseer test acc: 71.20% (weight_decay 5e-5), 0.0008s/epoch
- pubmed test acc: 79.10% (weight_decay 5e-5), 0.0007s/epoch

[2019-02-21 16:10] Tiiiger commented on #398
looks terrific. Shall we merge this into the repo?

Thank you for your help!

[2019-02-21 16:32] yzh119 commented on #398
Of course, we are glad to merge this into DGL examples, though I was wondering if there were more elegant ways to implement SGC in DGL.
You are encouraged to create a pull request with the title `[Model] Simplifying Graph Convolutional Networks` to add this model to our model zoo(please attach a README, ref: https://github.com/dmlc/dgl/tree/master/examples/pytorch/gcn), then our team members would

[2019-02-22 07:17] yzh119 commented on #398
Merged in #405

[2019-02-22 07:17] #398 closed

[2019-02-25 07:05] DancingSoul opened #410 "When will multi-gpu be supported?"
## ❓ Questions and Help

Since my experiments are conducted on some large graphs, I want to know when will multi-gpu be supported?

Thanks a lot!

[2019-02-25 07:21] yzh119 commented on #410
multi-gpu is supported if you use pytorch as backend. We recommend you use `torch.distributed` rather than `DataParallel` to write your multi-gpu program.
You may find [this tutorial](https://pytorch.org/tutorials/intermediate/dist_tuto.html) useful.

[2019-02-25 07:22] DancingSoul commented on #410
Thanks!

[2019-02-25 07:22] #410 closed

[2019-02-25 12:48] rusty1s opened #411 "PPI Test Set"
## 🐛 Bug

The `test_graph_id.npy` of the PPI dataset from https://s3.us-east-2.amazonaws.com/dgl.ai/dataset/ppi.zip has only 1 entry (136 byte), resulting in wrong test evaluation.

[2019-02-25 15:56] jermainewang commented on #411
Thanks for the report. I confirm that there is only one test graph. @sufeidechabei could you have a look?

[2019-02-25 19:54] mufeili opened #412 "Fixing random seeds does not yield deterministic results"
- [Related discussion thread](https://discuss.dgl.ai/t/how-to-fix-random-seeds-in-dgl-in-training/65/3)

It has been observed by Erutan-pku, @hbsun2113 , me and @yzh119 that after fixing NumPy random seed, PyTorch random seed and `cudnn.deterministic=True` we still get different results across runs. There can be two possibilities:
1. This is a bug.
2. Some system optimization involves randomness,

[2019-02-25 22:46] BarclayII commented on #412
In the case of SGC, the function `python/dgl/data/citation_graph.py:_encode_onehot` does *not* necessarily return the same output from the same input, since it is `enumerat`ing a `set`.

Changing from `classes = set(labels)` to `classes = list(sorted(set(labels)))` solves the problem.

[2019-02-26 01:41] mufeili commented on #412
@BarclayII In that case we may want to add an option for our API to decide if a deterministic split is to be employed. Could you also please check GraphSAGE as mentioned by @hbsun2113 ?

[2019-02-26 03:09] BarclayII commented on #412
Works for me.

[2019-02-26 03:09] BarclayII commented on #412
Also it's not related to splitting the dataset, but encoding the labels into one-hot vectors.

[2019-02-26 06:11] hbsun2113 commented on #412
I wonder what is the difference between of them?

[2019-02-26 06:21] mufeili commented on #412
@hbsun2113 Sets are unordered and you can get different results across tries. To sort it can solve the issue.

[2019-02-26 06:24] #412 closed

[2019-02-26 06:35] sufeidechabei commented on #411
I have fixed that @jermainewang  @rusty1s , Thanks!

[2019-02-26 06:39] hbsun2113 commented on #412
@mufeili  Encoding label to different onehot leads to different results?

[2019-02-26 06:55] hbsun2113 opened #414 "How can I upgrade DGL?"
I installed DGL by  `conda install -c dglteam dgl`.
If you have already fixed the bug of DGL and then I want to update DGL. What should I do?

[2019-02-26 07:14] mufeili commented on #414
You can always install from source for the latest patches.

[2019-02-26 07:14] #414 closed

[2019-02-26 07:38] rusty1s commented on #411
Can confirm, works like a charm :)

[2019-02-26 07:38] #411 closed

[2019-02-26 07:40] yzh119 opened #415 "[bug]The reduce function in TreeLSTM example is not commutative"
## 🐛 Bug
reduce function should be commutative(permutation invariant).
However, the current implementation does not guarantee this property (we specify different weights for left child's representation and right child's representation, but we are not sure which input node is the left child).

## Solution
Assign type(left branch/right branch) for edges.

[2019-02-26 07:49] VoVAllen commented on #414
I think this might be a problem. The current interval between releases is too long which might prevent new user to follow our new tutorial and have a try.

[2019-02-26 08:00] BarclayII commented on #412
Yes to both.

Think of a linear logistic regression.  If we swap the positive and negative labels, the optimal parameters would switch their signs as well.  This implies that, given everything the same (including initial parameters) except that we permute the labels, the trajectory of parameter updates would still be different.

Now that we have a complicated non-convex model, we know that a lot o

[2019-02-26 11:34] yzh119 commented on #415
However, by observation, this bug does not influence the result at present.

[2019-02-27 07:33] yzh119 commented on #369
Merged in #404

[2019-02-27 07:33] #369 closed

[2019-02-27 09:52] yuchenlin opened #417 "Graph Global Context"
## 🚀 Feature

## Motivation

I am trying to implement deep mind's graph networks, which includes a graph-specific global context vector, which will be involved in edge/node feature updating and itself is also updated by aggregating features of all nodes and edges.

I know that if we are dealing with a large graph as training data, we can set a trainable parameter in the model __init__. But it is n

[2019-02-27 10:06] yzh119 commented on #417
Hi,
To deal with a set of small graphs, we provide `BatchedDGLGraph` to handle this. You could call `dgl.batch(g_list)` to covert a list of `DGLGraph`s to `BatchDGLGraph`.

For a graph level representation, you may refer to the graph embedding section of our [DGMG tutorial](https://docs.dgl.ai/tutorials/models/3_generative_model/5_dgmg.html).

As for the "update of edge features", sorry but I'm no

[2019-02-27 10:25] yuchenlin commented on #417
Hi Zihao, thanks so much for the prompt help!  Just took a look at the DGMG case, I feel like it is not the same situation that I am facing. In my case, I have a model for representing graphs, whose parameters are shared to all the input graphs. Each input graph is small and has an associated vector as initialized representation. Every time the forward has a graph (and its initialized global vecto

[2019-02-27 10:42] mufeili commented on #417
Then how about the proposal below:
[code]

[2019-02-27 10:46] yuchenlin commented on #417
Yeah, Mufei, it is very desirable. I think `g.gdata` can also be useful in many other cases. My current workaround is to set the global vector as of `g.ndata['g']`.

[2019-02-27 10:47] mufeili commented on #417
@yuchenlin You can simply add an attribute to the DGLGraph objects yourself:
[code]

[2019-02-27 10:55] yuchenlin commented on #417
Oh! Amazing, I didn't know that I can even do this kind of attribute assignments with dgl... Haha, then this is not a problem anymore..

[2019-02-27 11:11] #417 closed

[2019-02-28 02:45] jermainewang commented on #417
Hey, just want to bring up this question a little bit. My suggested way of doing global/graph level attribute is actually using function closure. For example, suppose you have a graph attribute `x` that will be used in a message function. Then the following code should achieves that:
[code]
This is in fact the reason why we decide not to have `gdata` as in graph_net. We found this is a better and

[2019-02-28 07:38] HQ01 opened #419 "[Usability] to_undirected_graph method when constructing DGL graph using edgelist"
## 🚀 Feature

Add a simple method to allow users to construct an "undirected" (which is essentially bi-directed) DGL graph from edge list when constructing the graph.
## Motivation
Some datasets (like ENZYMES) store graphs as edges list, and default the graph type to undirected. It would be convenient for users to initialize a DGL graph from an edgelist of undirected graph.

## Alternatives

Curre

[2019-03-01 06:32] F36 opened #422 "Will DGL support tensorflow?"
Now, we know DGL is based on mxnet ecosystem.However, as many people are used tensorflow, will DGL support tensorflow?

Maybe, it's extremely difficult to solve it, but i am just curious to ask for it.

Thanks.

[2019-03-01 14:50] shengwenLeong opened #423 "The puzzled about the formula of dgl.nn.pytorch.conv.GraphConv() function"
## 📚 Documentation

Hi,
  Recently, I read the doc of this project. And I confused about the formula of graph convolution operation. In doc, the formula is:
![image](https://user-images.githubusercontent.com/5969647/53644777-5ca89080-3c72-11e9-9150-8ea795f3bd33.png)
Why is not
<a href="https://www.codecogs.com/eqnedit.php?latex=h_i^{(l&plus;1)}&space;=&space;\sigma(b^{(l)}&space;&plus;&space;\sum_

[2019-03-01 15:05] jermainewang commented on #422
Hi,

**We really really like to support Tensorflow**. Unfortunately, none of our team members are heavy Tensorflow users so we are actively seeking volunteers on this task. If you know anyone who are willing to help, do not hesitate to refer them to this issue for discussion. We could leave this issue open so more can see this.

The task is not really extremely difficult. As you've noticed, DGL is

[2019-03-01 15:06] jermainewang commented on #423
That's a good catch! Thanks! Will hot fix it.

[2019-03-01 20:56] jermainewang commented on #423
Fixed in #425 .

[2019-03-01 20:56] #423 closed

[2019-03-03 05:28] shengwenLeong opened #428 "The problem about the formula of GCN in one formula."
## 📚 Documentation

Hi,
   Recently, I read the doc and find a problem. In [GCN in one formula](https://docs.dgl.ai/tutorials/models/1_gnn/1_gcn.html#gcn-in-one-formula) section, the doc said the GCN model follows this formula:
![image](https://user-images.githubusercontent.com/5969647/53691355-30e2f300-3db7-11e9-9a56-1726e7426d16.png)
However, from the source code
` data = citegrh.load_cora()`  I

[2019-03-03 05:43] yzh119 commented on #428
Hi,
We take the square root of D [here](https://github.com/dmlc/dgl/blob/master/examples/pytorch/gcn/train.py#L63)

[2019-03-04 02:10] shengwenLeong commented on #428
Ok, I see. Thanks.

[2019-03-04 19:23] #428 closed

[2019-03-04 19:25] jermainewang commented on #419
My question is if the graph already contains features. What will happen if `to_undirected` is called?

Also, suggest `to_bidirected`.

[2019-03-05 01:08] HQ01 commented on #419
If edges already have features, then one thing we can do is to simply copy the edge feature to the reverse direction, with the option of letting users specify them (reverse sign, different edge feature, etc.)

Yeah I agree, to_bidirected sounds better!

[2019-03-05 07:45] flowerbeach opened #431 "Message passing inversely"
Hi, I'm wondering if one node can get messages from the destination of its outgoing edges?

[2019-03-05 07:53] mufeili commented on #431
How about adding edges for both directions?

[2019-03-05 08:13] flowerbeach commented on #431
But I can't tell which edges are outcoming or incoming?

[2019-03-05 12:46] mufeili commented on #431
@flowerbeach There are ways to convert edges into two tensors `[srcs, dsts]` such that edge `i` has source `srcs[i]` and destination `dsts[i]`. You may want to provide additional information for the particular case you are faced with.

We encourage users to use our [discussion forum](https://discuss.dgl.ai/) for questions like this. If you have some further questions, it will be great if you can o

[2019-03-06 04:02] #431 closed

[2019-03-07 11:16] lgalke commented on #302
May I kindly ask whether there is an updated tentative date for the 0.2 release? I'm desperately waiting for some  features and unfortunately cannot build dgl from-source on the server. Thanks for your efforts!

[2019-03-07 13:55] jermainewang commented on #302
@lgalke Thanks for asking. Our release date is delayed for a week due to some performance issues found recently. We are waiting for the final PR to be merged #434 so you could expect a new release in 2 days !! It's our first major release after open source so we are still adapting to the release process. Thank you for your patience.

[2019-03-07 14:51] jermainewang commented on #419
Sounds good. Two more questions:

* Would you prefer returning a new graph? or perform mutation inplace?
* As you've noticed, the `bi_directed` graph could become a multi-graph if edges are added accidentally. This is related to #340 by @BarclayII . The issue with that PR is it slows down the graph construction time a lot for extra duplication check. I've been thinking about this question a lot. M

[2019-03-07 17:01] jermainewang opened #435 "List of missing support from MXNet in DGL project"
## 🚀 Feature

We use this issue as a list of required but currently missing features of MXNet. We also need to prioritize them.

- [x] [split](https://github.com/dmlc/dgl/blob/master/python/dgl/backend/mxnet/tensor.py#L111) with sizes_of_sections
- [ ] [segment_sum](https://github.com/dmlc/dgl/blob/master/python/dgl/backend/mxnet/tensor.py#L162) / max / mean / ...
- [ ] [unique](https://github.com

[2019-03-07 17:17] zheng-da commented on #435
should we create an issue at mxnet repo?

[2019-03-07 17:36] VoVAllen commented on #435
What's the difference between segment_sum and scatter_sum?

[2019-03-07 17:37] jermainewang commented on #435
segment_sum assumes continuous index while scatter_sum not.

[2019-03-07 17:38] jermainewang commented on #435
Is there an on-going issue in mxnet we could refer to?

[2019-03-07 18:50] szha commented on #435
I added related issue from what I know. Please create the rest

[2019-03-07 18:50] eric-haibin-lin commented on #435
we can create separate issues in mxnet with labels (sparse, numpy, etc) and use this issue to track the progress

[2019-03-07 19:38] jermainewang commented on #435
That's a good idea. I could help create these issues in MXNet and maintain links to this issue if you want.

[2019-03-07 19:47] yzh119 opened #436 "[bug] edata acts differently with mutable/immutable graph."
## 🐛 Bug

For the following code:
[code]
If we comment `x.readonly()` (in this case `x` is a mutable graph), the result would be
[code]
If we do not comment `x.readonly()` (in this case `x` is an immutable graph), the results is
[code]

However, I suppose by calling edata we are expected to get data according to the order of eid instead of the order of internal representation (e.g. csr...).

[2019-03-07 21:56] zheng-da commented on #435
should we list all problems here and create issues in the mxnet repo for each category? i guess it's nice to have everything in one place.

[2019-03-07 22:02] zheng-da commented on #435
Here is a list of other issues in MXNet:
- [ ] constructing a CSR matrix from the coo input is slow: https://github.com/apache/incubator-mxnet/issues/14311
- [ ] some of the MXNet operators in CPU are very slow. A typical example is concat.
- [ ] _backward_take in GPU is very slow.
- [ ] MXNet operators don't support int64.

[2019-03-07 22:04] zheng-da commented on #435
actually, split with sizes_of_sections is supported in MXNet now. I forgot to update it in DGL.

[2019-03-08 13:36] jackroos opened #438 "Picking/unpickling DGLGraph breaks feature set/get"
Hi, I am trying to emit BatchedDGLGraph in torch.utils.data.DataLoader, but it failed when num_workers > 0. Could you help me solve this problem?
The error message is as following:

[2019-03-08 23:23] jermainewang commented on #438
Hi, could you paste the code here? My guess is you use "register_reduce_func" somewhere and the function/module object is not pickleable. A walkaround is directly pass the reduce func to the message passing APIs you call (e.g. update_all, send_and_recv, etc.).

[2019-03-08 23:34] jermainewang commented on #302
v0.2 has just been officially released. Thanks everyone for the support!

[2019-03-08 23:34] #302 closed

[2019-03-09 00:34] HQ01 commented on #419
1) I would prefer mutation in place since the most common use case of this will be in data-preprocessing and we don't need the original graph.

2) If I understand it correctly -- in this design, `to_bidirected` will simply double the number of edges (even if the original graph is already a multi-graph), and `to_simple_graph` will prune any graph with multiple edges between pairs of nodes to simple

[2019-03-09 03:27] jackroos commented on #438
I do not use register_reduce_func . I just construct a DGLGraph with nodes, edges, ndata, edata in __getitem__() of my dataset, and use dgl.batch() in collate_fn of dataloader. My original code is a little complicated. I am trying to reproduce this error using toy example. But I find I can't reproduce the error now. By the way, if I remove the BatchedDGLGraph in the output of collate_fn. This erro

[2019-03-09 03:48] jackroos commented on #438
Actually, I can't even pickle graph.ndata.

[2019-03-09 04:15] junrushao1994 commented on #435
Do you guys really need zero-copy NDArray a from numpy? If so, I can try to implement.

[2019-03-09 09:19] macroxmu opened #445 "install dgl by pip but lake some dll on windows"
## 🐛 dgl lake dll files on windows

## To Reproduce

Steps to reproduce the behavior:

I install dgl with command:
`pip install dgl
`
Install pytorch with :
`pip install https://download.pytorch.org/whl/cpu/torch-1.0.1-cp37-cp37m-win_amd64.whl
`
While I using "import dgl" in python, it show an error message box said it lake some dll such as 'libwinpthread-1.dll'

I found it doesn't just lake just

[2019-03-09 11:05] VoVAllen commented on #445
Do you have GCC/Mingw installed?

[2019-03-09 11:07] BarclayII commented on #445
Currently 0.2 Windows conda/pip package is delayed.  We expect to release it soon.

[2019-03-09 12:16] BarclayII commented on #445
DGL 0.2 for Windows is released on Conda and Pip.  Please feel free to reopen this issue if it doesn't work.

[2019-03-09 12:16] #445 closed

[2019-03-09 12:17] BarclayII commented on #293
DGL 0.2 for Windows is released on Conda and Pip.  Please feel free to reopen this issue if it doesn't work.

[2019-03-09 12:17] #293 closed

[2019-03-09 16:58] jermainewang commented on #438
I'll look into this.

[2019-03-10 15:31] HQ01 opened #446 "[DISCUSSION] On the proper way to inherit batch graph structure when creating new graph"
## 🚀 Feature

When implementing models that will create new graphs on the fly (such as diffpool), the newly created graph will not inherit the original BatchedGraph properties (it will just be a graph!). which makes seg_sum, seg_max much more difficult. What will be the ideal way to finish this?
## Motivation

## Alternatives

## Pitch

## Additional context

[2019-03-10 15:36] jermainewang commented on #446
Could you call `dgl.batch` on the fly?

[2019-03-10 15:39] AllenWu18 opened #447 "cons"
## ❓ Questions and Help

Before proceeding, please note that we recommend
using our discussion forum (https://discuss.dgl.ai) for
general questions. As a result, this issue will
likely be CLOSED shortly.

[2019-03-10 17:42] yzh119 commented on #447
Hi, the discussion would continue in the forum, and this issue would be closed.

[2019-03-10 17:42] #447 closed

[2019-03-10 19:19] jermainewang commented on #419
I agree that inplace update is the common use case at the moment but we should be careful. Networkx usually returns a copy of the graph for these APIs (e.g. [`Graph.to_undirected`](https://networkx.github.io/documentation/networkx-1.10/reference/generated/networkx.Graph.to_undirected.html)), so I would follow this convention unless there are other concerns.

Yes.

[2019-03-11 03:55] F36 commented on #422
Good job, welcome the nice boys to join.

[2019-03-11 07:46] HQ01 commented on #446
I think unbatch then batch again could solve this.

[2019-03-11 07:46] #446 closed

[2019-03-11 11:26] jackroos commented on #438
It is very weird. When I debug line by line in my code, I find the graph can't be pickled just after it be created and call add_nodes. But when I try to reproduce this in following simple code:
[code]
the graph is pickled successfully. Do you have any ideas?

[2019-03-11 11:32] jackroos commented on #438
In addition, in my original code, after graph created by:
[code]
then pickle.dumps(graph) will be None. But in the simple code of my previous comment, it's not None.

[2019-03-11 11:44] jackroos commented on #438
Sorry, I debug again using IPython, it's not None. Previously I used 'evaluate' in PyCharm Debugger.

[2019-03-12 20:49] jermainewang commented on #438
Hi, I found the following script can reproduce the error on my side consistently. Could you help confirm?
[code]

[2019-03-12 20:57] jermainewang commented on #438
In fact, the problem is torch dtype. Here is a more precise reproduction. Note that if `import networkx` is deleted, the code works ...
[code]

[2019-03-13 00:55] BarclayII commented on #438
Similar dtype pickling issues are tracked in https://github.com/pytorch/pytorch/issues/14057

[2019-03-13 02:39] jackroos commented on #438
Actually, I can run above two code of yours successfully without remove 'import networkx as nx'.
P.S. my pytorch version is 1.0.0, dgl version is 0.2, networkx version is 2.2, python version is 3.6.7.

[2019-03-13 03:59] yzh119 commented on #436
fixed in #437

[2019-03-13 03:59] #436 closed

[2019-03-13 10:53] jackroos commented on #438
Hi, @jermainewang. I can reproduce your result. But after I remove all 'import networkx' in my code. It still have this problem. I guess some other library I import have the same problem with 'networkx'. Do you know other libraries of this kind?

[2019-03-13 14:49] jermainewang commented on #438
Try this workaround. First, figure out the path of your DGL installation by:
[code]
Then, in the DGL folder, remove the if in L31 in `dgl/frame.py` and unindent L32-L40. The change will use our own serializer for torch.dtype. Let me know whether this fixes your issue and we will include it in the next patch release.

[2019-03-13 19:13] jermainewang opened #450 "[Roadmap] v0.3 release checklist"
Here is the v0.3 release plan. **The tentative release date is 06/07.**

[Feature] Kernel support
-------------------------
Kernels are critical for our system performance. The next release will include all the basic building blocks and APIs for future extensions.
- [x] Basic fused kernel support (#519 )
- [x] New builtins (@jermainewang @ylfdq1118 ) [05/29]
  * `src_op_edge`, `src_op_dst`, `edge_

[2019-03-14 02:41] jackroos commented on #438
It does fix pickling error. But when I want to transfer data of graph to cuda by following code:
[code]
Another error happened:
[code]

[2019-03-14 02:56] jermainewang commented on #438
Could you show how the graph is created?

[2019-03-14 03:46] yzh119 commented on #450
Some additional items:
- Kernel Support
  - sparse_softmax
- Convenient RandomWalk api
  - to support algorithms like personalized page rank.
- Model Examples
  - relational network/recurrent relational network/relational deep reinforcement learning(however this one is much more difficult).
  - these models are good showcases as using graph to modeling text/image.

[2019-03-14 03:52] yzh119 commented on #450
For API, I suggest provide more flexible message function to handle different type of edges.
For example, In tree-lstm we are supposed to send different messages for left branch and right branch.

[2019-03-14 06:25] jackroos commented on #438
It's something like this.
[code]

[2019-03-14 10:11] aksnzhy commented on #450
We plan to implement a light-weight kvstore instead of using MXNet KVStore for DGL. Do we consider add this item to 0.3 version?

[2019-03-14 10:17] VoVAllen opened #451 "[Feature Request] Flexible builtin functions"
## 🚀 Feature
Adapt basics tensor operation into dgl ecosystems by custom builtin functions.

## Motivation
Current dgl only support SPMV with adjacency matrix, which might not be flexible enough.

For example,

[Chebynet](https://rusty1s.github.io/pytorch_geometric/build/html/modules/nn.html#torch_geometric.nn.conv.ChebConv) uses Laplacian matrix to substitute adjacency matrix,

[AGNNConv](https:/

[2019-03-14 14:11] jermainewang commented on #451
Are these matrix similar to have a `weight` edge field and use `src_mul_edge` for message passing?

[2019-03-14 15:07] VoVAllen commented on #451
At most case, `src_mul_edge` can cover the scenario. One infeasible case might be the AGNNConv propagation matrix [calculation](https://rusty1s.github.io/pytorch_geometric/build/html/_modules/torch_geometric/nn/conv/agnn_conv.html#AGNNConv). `src_mul_edge` is not enough.

My main motivation is to investigate how many models would be hard to implement under current API. Especially incorporating wit

[2019-03-14 18:03] zheng-da commented on #450
- kernel support:
  - scatter mean
  - generalized spmv: min/max/mean for reduce.

- dataset:
  - [reddit](https://files.pushshift.io/reddit/comments/): we construct multiple versions at different scales and different ways of construction (mainly how to build edges between nodes).
  - [yelp](https://www.yelp.com/dataset/documentation/main)

[2019-03-14 18:07] zheng-da commented on #450
0.3 version will be a fast release. How about we plan it for 0.4 release?

[2019-03-15 02:04] aksnzhy commented on #450
No problem.

[2019-03-15 08:17] qzshadow commented on #450
Looking forward to supports for giant graphs!

[2019-03-15 14:11] jackroos commented on #438
Any ideas? @jermainewang

[2019-03-16 09:05] HQ01 commented on #419
Should we also add this to 0.3 roadmap?

[2019-03-16 20:10] zheng-da commented on #450
Scheduling improvement:
* we should improve pull. (It's commonly used by control-variate sampling and we run pull on the giant graph.)

[2019-03-18 03:24] jermainewang commented on #438
Hi @jackroos , sorry for the late reply! I tried your codes but cannot reproduce the error. Would you provide some environment information? Thank you.

## Environment

 - DGL Version (e.g., 1.0):
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3):
 - OS (e.g., Linux):
 - How you installed DGL (`conda`, `pip`, source):
 - Build command you used (if compiling from source):
 - Python

[2019-03-18 03:54] jackroos commented on #438
* DGL: build from my forked version: https://github.com/jackroos/dgl, just modify the pickle part in frame.py.
* Backend: PyTorch 1.0.0
* OS: Linux, Ubuntu 16.04
* Build command:
[code]
* Python version: 3.6.6
* CUDA version: release 9.0, V9.0.176
* cuDNN version: 7.0
* GPU models: Tesla M40 24GB

[2019-03-18 03:54] jermainewang commented on #451
AGNNConv looks like operating on a full graph with attention weight on the edges. Am I right? If so, `src_mul_edge` is still enough. But since the graph is dense, it may not benefit from SPMM.

`src_mul_edge` will map to one SPMM kernel if the edge feature is scalar type and the reducer is `sum`. Otherwise, it will first broadcast src node feature to edge space. Then, depending on whether the redu

[2019-03-18 03:59] jermainewang commented on #438
Tried your repo and still cannot reproduce the error. Could you verify this is the error example?
[code]

[2019-03-18 04:01] jermainewang commented on #438
Oh, could you also verify the DGL version by `python -c 'import dgl; print(dgl.__version__)'`?

[2019-03-18 04:38] jackroos commented on #438
0.2

[2019-03-18 04:39] jackroos commented on #438
I can't reproduce the error based on this simple code also. I don't know if it's something related to dependency again.

[2019-03-18 12:29] zuenko opened #455 "Training, testing and validating (Graphsage example)"
Hello!
## ❓ Questions and Help
I don't get how is it possible that we are learning on the whole graph *[line of code](https://github.com/dmlc/dgl/blob/master/examples/pytorch/graphsage/graphsage.py#L213), then we use some "mask" to compute the loss *[line of code](https://github.com/dmlc/dgl/blob/master/examples/pytorch/graphsage/graphsage.py#L214).
Another thing is about the loss in the original

[2019-03-18 14:17] jermainewang commented on #455
@BarclayII Could you comment on this?

We recommend use forum so that the issue list on github could be more relevant to features/bugs/roadmap. Otherwise, these important issues will quickly sink to the bottom. It also gives an impression that this project has "a lot of issues". On the other hand, using forum gives you many benefit: (1) very good search bar to find relevant questions; (2) very goo

[2019-03-18 14:18] jermainewang commented on #419
Yes. Please do. You could directly modify the post rather than reply the issue. Thanks!

[2019-03-18 14:20] zuenko commented on #455
@jermainewang "Sorry, new users can only put 2 links in a post." :(

[2019-03-18 14:24] jermainewang commented on #455
I've changed that to 10. Thanks for the suggestion.

[2019-03-18 14:33] jermainewang commented on #419
I've done that. Let's leave this issue open until the feature is implemented.

[2019-03-18 14:34] jermainewang commented on #451
@yzh119 I found you mentioned to have more flexible message function for different edge type. Could you elaborate a little bit here?

[2019-03-18 22:36] jermainewang commented on #438
Finally bug confirmed! The `cuda` call failed after pickle and unpickle:
[code]

[2019-03-19 03:28] jackroos commented on #438
Cool! Thank you so much for your effort! Look forward to the bug fix.

[2019-03-19 03:49] jermainewang commented on #438
Just merged the fix. The above example works on my machine. Could you pull the latest master and test it again?

[2019-03-19 03:59] jackroos commented on #438
It works for me now! Many thanks to you again! 🐮🍺!!!

[2019-03-19 04:02] #438 closed

[2019-03-19 11:51] BarclayII commented on #455
A clarification: this is a simplified implementation of GraphSAGE, in the sense that we are not sampling the neighborhood as the authors did.

Recall that GraphSAGE classifies nodes in a given graph.  So what we did is simply
* Predict the class of *every single* node, regardless of which data split (training, validation, or test) the node is in.  ([L213]((https://github.com/dmlc/dgl/blob/master/e

[2019-03-20 07:47] Vimos opened #458 "Save or load dgl graphs using torch.save and torch.load"
## 🐛 Bug
After building the DGL graph list, I tried to save it using `torch.save`, when restoring it using `torch.load`, I got the following error:
[code]

## Environment

 - DGL Version (e.g., 1.0): 0.2
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3):  Pytorch 1.0.0
 - OS (e.g., Linux): Linux
 - How you installed DGL (`conda`, `pip`, source): source
 - Build command you used (

[2019-03-20 18:31] zheng-da commented on #450
If time permits, we might add GPU samplers to accelerate mini-batch training in a single GPU.

[2019-03-21 06:41] jackroos opened #459 "Is there a dgl-based implementation for diffpool?"
Hi, I want to check if there is a dgl-based implementation for diffpool: https://arxiv.org/pdf/1806.08804.pdf? Thanks!

[2019-03-21 07:04] zheng-da commented on #459
Yes. We just PRed an implementation: https://github.com/dmlc/dgl/pull/439

[2019-03-21 07:04] yzh119 commented on #459
PR #439 is in review. You're welcomed to make suggestions!

[2019-03-21 07:13] HQ01 commented on #459
Hi, thank you for your interest. PR #439 implements Diffpool in DGL, it supports batch version but still needs to be optimized. Any suggestions/help/opinion will be more than welcome!

[2019-03-21 07:14] jackroos commented on #459
Thanks for your quick reply! LGTM. Does it reproduce the result reported in the paper? And is there an example for the usage of diffpool?

[2019-03-21 07:28] HQ01 commented on #459
TL; DR. Yes it reproduces result on ENZYME. example usage will be added in the coming days (most likely this weekend).

Yes, it can match paper result on ENZYME. For DD we probably need to improve the batch implementation first. The reason is that now DGL batches small graphs into a larger block diagonal graph (from the adjacency matrix perspective), which is not the optimal design for implementin

[2019-03-21 07:32] HQ01 commented on #419
No problem. Thanks!

[2019-03-21 07:40] jackroos commented on #459
OK. So if batch size is small, the overhead of batched diffpool would be negligible, right?

[2019-03-21 07:47] HQ01 commented on #459
Yes. But pytorch sparse mm is still slower than batching adjacencies matrices as a tensor. I will profile it in the coming days. Notice that non-batched version on DD converges slow/doesn't converge.

[2019-03-21 07:49] jackroos commented on #459
Thank you so much again. Look forward for your final optimized version.

[2019-03-21 07:51] HQ01 commented on #459
Actually, I wouldn't say the batch/unbatch operation is the major overhead; the main issue with current implementation is that sparse mm is slower than tensorized masked mm. Batching graphs into block diagonal batched graph further exacerbates this issue.  We will address this issue.

[2019-03-21 07:52] HQ01 commented on #459
No problem. Stay tuned! :)

[2019-03-21 12:38] BarclayII commented on #458
Could you try using `pickle` instead?  Saving and loading DGL graph with PyTorch is currently not supported.

[2019-03-22 02:13] haif-liu opened #460 "AttributeError: 'DGLGraph' object has no attribute 'group_apply_edges'"
## 🐛 Bug

AttributeError: 'DGLGraph' object has no attribute 'group_apply_edges'

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

 - DGL Version (e.g., 1.0):
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3):
 - OS (e.g., Linux):
 - How you installed DGL (`conda`, `pip`, source):
 - Build command you used (if compiling from sourc

[2019-03-22 05:35] VoVAllen commented on #460
I cannot reproduce the problem. Could you provide more information about your environment and DGL version?

[2019-03-22 06:54] Vimos commented on #458
`pickle` works well, thanks!

[2019-03-22 08:01] haif-liu commented on #460
It is the version problem and has been solved. Thanks!

[2019-03-22 09:41] #460 closed

[2019-03-22 09:41] #458 closed

[2019-03-22 12:18] klyao opened #461 "does dgl support CUDA computation?"
hello,
  I try to run 9_gat.py with cuda by setting net = net.cuda(), but it occurs error

RuntimeError: Expected object of backend CPU but got backend CUDA for argument #2 'mat2'

  does dgl support CUDA computation?

[2019-03-22 13:24] VoVAllen commented on #461
Hi,

Did you also add `features=features.cuda()`?

[2019-03-22 13:32] klyao commented on #461
Thanks! That's the problem!

I find that the cuda version is only 2 times faster than the cpu version.

[2019-03-22 14:14] VoVAllen commented on #461
The main reason is currently we are lack of custom kernel support for softmax and scatter_max operation. Please stay tuned and we will update soon!

[2019-03-22 14:14] #461 closed

[2019-03-22 14:31] jermainewang commented on #461
Hey, adding some experiences from my side. The speedup really depends on whether the computation can be accelerated by GPU or not. How long your model trains for one iter? If it's already very fast(e.g. several ms), then other factors will kick in like Python wrapper cost which cannot benefit from GPU. It all comes down to Amdahl's law.

[2019-03-23 17:08] alexvpickering commented on #450
A couple models I'd like to see:

- [Graph Isomorphism Network](https://github.com/weihua916/powerful-gnns)
- [LanczosNet](https://github.com/lrjconan/LanczosNetwork)

[2019-03-25 01:38] #455 closed

[2019-03-25 01:40] jermainewang commented on #450
Hi @alexvpickering , will look into it. One question, do you expect to see them as layers in NN packages or complete examples with data loading/training/testing ?

[2019-03-25 02:52] alexvpickering commented on #450
I was thinking examples like found in in e.g.  [dgl/examples/pytorch/sgc](https://github.com/dmlc/dgl/tree/master/examples/pytorch/sgc).

[2019-03-25 16:18] giuseppefutia opened #463 "RuntimeError: invalid argument (RGCN example: link prediction task)"
## 🐛 Bug

During the evaluation stage of the rgcn example (link prediction task), the following error is generated:
RuntimeError: invalid argument 3: Index is supposed to be 1-dimensional at /pytorch/aten/src/TH/generic/THTensorEvenMoreMath.cpp:164

## To Reproduce

Steps to reproduce the behavior:

1. python3 link_predict.py -d FB15k-237 --gpu 0

## Environment

 - DGL Version (e.g., 1.0):
 - Bac

[2019-03-25 17:10] ylfdq1118 commented on #463
You are right. You can open a PR

[2019-03-28 04:24] haif-liu opened #466 "I need the original order of nodes, but all nodes are relabeled after converting them."
## 🐛 Bug

I need the original order of nodes, but all nodes are relabeled after converting them.

dgl.DGLGraph.from_networkx

nx_graph (networkx.DiGraph) – If the node labels of nx_graph are not consecutive integers, its nodes will be relabeled using consecutive integers. The new node ordering will inherit that of sorted(nx_graph.nodes())

## To Reproduce

Steps to reproduce the behavior:

1.
1.
1

[2019-03-28 18:34] ylfdq1118 commented on #463
Thanks @giuseppefutia

[2019-03-28 18:34] #463 closed

[2019-03-28 22:19] Wimmerer opened #467 "[Discussion] Graph backend and Boost graph library"
## Feature
Adding support for a graph backend like Boost in place of or in addition to the current custom.

## Motivations
The current graph backend doesn't support a number of important operations, importantly removing nodes and edges.

Integration with third party libraries may also be easier, in particular mutating the graph from external programs might be easier with a standard library.

Easie

[2019-03-29 05:54] mufeili commented on #466
How about pre-sorting your nodes and maintain a mapping yourself before creating a `DGLGraph` object?

[2019-03-30 02:16] jermainewang commented on #467
Hi @Pangurbon , thank you very much for your interest and proposal. Really appreciate it.

I think the major question is what kinds of graph operations/algorithms are urgently or likely needed. The final technical solution will likely depend on the requirements. Also, user can always fallback to `networkx` if some operations are missing. However, such fallback is not cheap, thus we want to have ef

[2019-03-30 02:46] Pangurbon commented on #467
I'll elaborate more on the use case below. But removing edges/nodes and performing graph generation *without* reloading from a C++ interface are the major operations.

The sort of model we're looking at is somewhat novel. The goal is to rapidly assess a graph using DGL, perform some removal/generation on the graph based on this assessment and then reassess. This can be done with networkx already,

[2019-03-30 03:38] jermainewang commented on #467
Thanks for the sharing. I'm more convinced now. Some follow-up questions:
* Do you wish to have autograd support for node/edge removal?
* Do you wish to adjust features when node/edge is removed? This might be costly due to large chunk of memory move.

We are also looking into this. There are successful practices to implement more complicated graph algorithms in GPU (e.g. gunrock). We are trying t

[2019-03-31 18:42] Wimmerer commented on #467
Could you expand on this a little more? I'm not sure what that would entail. I don't think it's necessary for the current plan, but I'll have to think about it.

Changing features is definitely desirable from an interface, but not specifically during removal.

Gunrock looks very interesting. That sort of gets back to my original question, does it make sense to separate the graph backend further so

[2019-04-01 00:42] jermainewang commented on #467
Let's say we have a node feature vector X. After deleting some nodes, some rows of X will be deleted and become X'. We then use X' for some later computation, some loss values and backprop to get dX'. My question is do you wish the gradient to flow back to X as well?

The reason why we have multiple tensor backends is to let user define UDFs in their favorite DL frameworks. Such platform-agnostic

[2019-04-01 03:21] Zhao6924 opened #472 "How to compute the vector of each edge in training？"
Thank for your code，that is a great job.

But i am not sure about the process of updating the edge vector. It's that employ the neighbor nodes vector as the input of the edges, and aggregate them as the new node's value?

[2019-04-01 04:36] jermainewang commented on #472
Check out [`g.apply_edges`](https://docs.dgl.ai/generated/dgl.DGLGraph.apply_edges.html#dgl.DGLGraph.apply_edges).

P.S. try use our [discussion forum](https://discuss.dgl.ai) for richer support of questions and answering. Thank you!

[2019-04-01 04:36] #472 closed

[2019-04-01 04:40] jermainewang commented on #466
Hi, how about first using [`nx.relabel_nodes`](https://networkx.github.io/documentation/networkx-1.10/reference/generated/networkx.relabel.relabel_nodes.html#networkx.relabel.relabel_nodes) to map your nodes to consecutive integers first by providing custom mapping, and then convert to `DGLGraph`? Will that solve your problem?

[2019-04-01 04:40] #459 closed

[2019-04-03 06:28] haif-liu commented on #466
I mean that the function 'dgl.DGLGraph.from_networkx' will relabel the original id of nodes no matter whether the ids of nodes are consecutive integers.

[2019-04-03 07:15] mufeili commented on #466
When you perform `dgl.DGLGraph.from_networkx`, [L1207](https://github.com/dmlc/dgl/blob/master/python/dgl/graph.py#L1207) calls `nx.convert_node_labels_to_integers(nx_graph, ordering='sorted')`. [The source code of networkx](https://github.com/networkx/networkx/blob/33980ffeef6de64fa543692bcc713e2b1fcdbcce/networkx/relabel.py#L208) first sort nodes and then map them to `[0, number of nodes - 1]`.

[2019-04-06 02:41] jermainewang commented on #466
My suggestion is use `nx.relabel_nodes` to relabel the nodes to consecutive integers before `dgl.DGLGraph.from_networkx`. For example,
[code]

[2019-04-09 13:03] allanj opened #483 "Warning of the initializer"
## ❓ Questions and Help

I ran the example in [RGCN documentation](https://docs.dgl.ai/tutorials/models/1_gnn/4_rgcn.html), and got the following warning:

[code]

Do I need to take care of this OR I can simply ignore it?
Also, what does it mean actually?

I'm using PyTorch 0.4.1 and Python3.6

[2019-04-09 22:41] Wimmerer commented on #467
Yes, but it’s not necessary at this stage.

Thanks! Do you have any idea on a timeline for C++ API/deletion? I understand those are big features, with likely limited use cases.

[2019-04-10 09:13] hl4080 opened #485 "Data missing for JTNN"
## ❓ Questions and Help

   Hello,I come across the problem that the website you put your jtnn.zip is missing.Can you offer me a new website?
  thanks!

[2019-04-10 12:57] jermainewang commented on #483
Hi, checkout this [thread](https://discuss.dgl.ai/t/about-setting-initializer/64) for the similar question. You could also follow up the discussion there. Basically, you could ignore it if you don't care what initial value is for node/edge features.

[2019-04-10 12:57] #483 closed

[2019-04-10 20:32] hellboy5 opened #486 "batched graph classification example - gpu"
I am trying to convert the https://docs.dgl.ai/tutorials/basics/4_batch.html to use a single gpu, however i am getting an issue at
 loss = loss_func(prediction, label)
RuntimeError: Expected object of backend CUDA but got backend CPU for argument #2 'target'

what other variables do I need to provide .cuda to .to for?

[2019-04-10 21:08] zhangyu2ustc opened #487 "AttributeError: module 'dgl.nn' has no attribute 'pytorch'"
## 🐛 Bug

I was trying to replicate the gat example when there was this error message saying that: AttributeError: module 'dgl.nn' has no attribute 'pytorch'

I have tried to uninstall and re-install the dgl package but still shows the same error
## To Reproduce

Steps to reproduce the behavior:

1.
1.
1.

## Expected behavior

## Environment

 - DGL Version (e.g., 1.0): dgl-0.2-cp36-cp36m-manylin

[2019-04-11 04:25] zengxy opened #488 "cypthon compile error when install from source using latest version"
## 🐛 Bug

I'm tring to install from srouce using the lastest version of master `00fc680aae15c4e463c8efc1218a4da143fedb8c`

And I follow the steps in https://docs.dgl.ai/install/index.html#install-from-source

At the last step `python setup.py install`, something got type not import error
[code]

I tried to import it myself in `base.pxi` by adding
[code]
Passing this file `core.pyx` but got error i

[2019-04-11 06:33] VoVAllen commented on #486
Do you convert all `bg`, `label` and `model` to cuda?

[2019-04-11 10:10] mufeili commented on #487
Could you please try installing dgl from source?

[2019-04-11 10:12] mufeili commented on #486
As @VoVAllen said, you will need to move `label` to cuda.

[2019-04-11 14:00] #485 closed

[2019-04-11 15:55] HuangZhanPeng commented on #450
will some model in [Euler](https://github.com/alibaba/euler) like LsHNE, LasGNN, ScalableGCN implement in the feature?

[2019-04-11 16:17] yzh119 commented on #450
@HuangZhanPeng are these algorithms any special?

[2019-04-11 17:29] zheng-da commented on #450
@HuangZhanPeng We will work on heterogeneous graphs in the 0.4 release. We'll evaluate these models.

[2019-04-12 06:15] Fangyh09 opened #492 "How to get all node features?"
I want to define new readout function.
How can I get all node features?

[2019-04-12 07:48] VoVAllen commented on #492
We suggest using our [forum](https://discuss.dgl.ai) to ask specific questions. It would be better for others to follow.

You can use `g.ndata.keys()` to get all field name and use `g.ndata[field_name]` to access them.

[2019-04-12 07:48] #492 closed

[2019-04-12 15:22] hellboy5 commented on #486
thanks

[2019-04-12 16:54] Abhinav43 opened #494 "How to define accuracy function in R-GCN?"
Hi,
I am working on edge prediction task and for that I am using r-gcn model. I have few questions related to r-gcn model :

What is MRR (raw) , Hits (raw ) in r-gcn?
How to get accuracy score in r-gcn during training and during evaluating?

Thank you !

[2019-04-14 16:22] karansapra opened #495 "Loading and save model weights for GAT"
Has anyone tried to save weights and then during inference load the saved weights. Seems like its not doing the right thing and producing garbage output as if it was starting from untrained weights.

[2019-04-14 16:37] mufeili commented on #495
Could you please provide a minimal block of code about the dataset you use, the model architecture and how you load a pre-trained model? It will also be very appreciated if you can provide a link to your model weights.

[2019-04-14 16:38] mufeili commented on #486
@hellboy5 Do you still have issues here? If not we will close the issue.

[2019-04-14 16:56] mufeili commented on #494
It seems that this is now being discussed in [a discussion thread](https://discuss.dgl.ai/t/how-to-define-accuracy-function-in-r-gcn/216) so I will close the issue.

[2019-04-14 16:56] #494 closed

[2019-04-14 17:18] karansapra commented on #495
@mufeili 👍  let me get it you a snippet soon.
Just curious, has anyone tried loading and saving weights with DGL?

[2019-04-14 17:34] jermainewang commented on #495
Which backend are you using? Loading and saving models should be the same
as other models in pytorch/mxnet.

On Sun, Apr 14, 2019, 1:18 PM karansapra <notifications@github.com> wrote:

[2019-04-15 17:30] hellboy5 commented on #486
Please Close the issue. Though you should add something on the documentation page about running on single and multi gpus.

[2019-04-15 18:04] #486 closed

[2019-04-16 22:20] zhangyu2ustc commented on #304
@fabienbaradel  I am facing the same problems here. Can you please share with me how did you slove the problem? I am not show that stacked a list of graphs is right option...

[2019-04-16 22:34] jermainewang commented on #304
@zhangyu2ustc please checkout this tutorial: https://docs.dgl.ai/tutorials/basics/4_batch.html

[2019-04-17 06:18] #488 closed

[2019-04-17 06:18] BarclayII commented on #488
Fixed.  Please check.

[2019-04-18 02:11] zengxy commented on #488
Thank you ! I can build it now.

[2019-04-20 00:49] mwcvitkovic opened #502 "Construct BatchedDGLGraph from readonly DGLGraph"
## 🚀 Feature

Currently readonly DGLGraphs cannot be combined into a BatchedDGLGraph.  But since a BatchedDGLGraph is itself readonly, this seems like an unnecessary blockage.

[2019-04-20 01:06] mwcvitkovic opened #503 "Add DGLGraph.to and similar methods"
## 🚀 Feature

The user should be able to call DGLGraph.to(<device_id>) if using the Pytorch backend to change the device context of the graph's ndata (or DGLGraph.as_in_context(<device_id>) if using the MXNet backend).

Or, if this is undesirable because it is not backend agnostic, then some other method should be added to DGLGraph that changes the context of all its tensor attributes.

[2019-04-20 01:09] jermainewang commented on #502
You are right. That should be fixed. @VoVAllen @mufeili  do you guys have time to look into this?

[2019-04-20 01:15] jermainewang commented on #487
@zhangyu2ustc do you still have the problem? I cannot reproduce the problem. Could you also verify whether there is a "pytorch" folder under "<your_dgl_package_location>/nn"?

[2019-04-20 01:20] jermainewang commented on #503
That's a fair request. I will make a PR for this.

Note that I will also change the device of edge data.

[2019-04-20 12:18] zheng-da commented on #503
this seems to associate DGLGraph to a certain context. another related question is whether we should allow tensors in DGLGraph to be in different contexts?

[2019-04-22 14:44] jermainewang commented on #503
We still do. The API is to help the user to move all feature tensors to one device, which is a quite common case.

[2019-04-22 14:44] jermainewang commented on #495
@karansapra Any update on this?

[2019-04-23 14:37] zhangyu2ustc commented on #304
@jermainewang Thanks! I am not totally understand how to generalize to my case. In my projects, I was trying to predict the labels from samples which includes a feature vector on each node of the graph. Thus, the graph is fixed among all samples. Do I need to duplicate the graph structure Batch-size times? It does not seem reasonable because I have a very large graph to start with (96k nodes).  wi

[2019-04-23 22:39] fengxy7 opened #507 "Question about RGCNBasisLayer"
I'm wondering why self-loop is set to be false for RGCNBasisLayer, which is inherited from RGCNLayer, as the parameter passed in does not include it?
https://github.com/dmlc/dgl/blob/ca48787ae49e9d73ebf17b1c882cb66fb66fb828/examples/pytorch/rgcn/layers.py#L5-L7
https://github.com/dmlc/dgl/blob/ca48787ae49e9d73ebf17b1c882cb66fb66fb828/examples/pytorch/rgcn/layers.py#L52-L55

[2019-04-23 22:51] ylfdq1118 commented on #507
I can't remember if author's version has the loop message for entity classification task. But you can enable it if you prefer.

And if you are worried about self-relation, the data preprocessing code (see [here](https://github.com/dmlc/dgl/blob/master/python/dgl/contrib/data/knowledge_graph.py#L404)) already adds self loop as self-relation.

[2019-04-24 02:01] BarclayII commented on #304
The tutorial talks about batch-processing multiple graphs.

Are you instead batching *nodes on the same graph*?

[2019-04-24 07:48] tengwei12315 opened #508 "Data set in the SSE model example"
## ❓ Questions and Help

Where is the data set used in the SSE model example downloaded, and how are the characteristics of the data set constructed?The reason for this problem is that I am getting an error when running the example.

[2019-04-24 07:49] tengwei12315 commented on #508
Traceback (most recent call last):
  File "sse_batch.py", line 398, in <module>
    data = load_data(args)
  File "/usr/local/miniconda3/lib/python3.7/site-packages/dgl/data/__init__.py", line 27, in load_data
    elif args.dataset.startswith('reddit'):
AttributeError: 'NoneType' object has no attribute 'startswith'

[2019-04-24 08:10] zheng-da commented on #508
[code]
it works pretty well. how do you run the example?

[2019-04-24 08:21] tengwei12315 commented on #508
I am running the example on my PC, linux system, Python3.7,mxnet ,request has been installed.I downloaded all the dgl files directly from github.

--------------- 原始邮件 ------------------
发件人: "Da Zheng"<notifications@github.com>;
发送时间: 2019年4月24日(星期三) 下午4:10
收件人: "dmlc/dgl"<dgl@noreply.github.com>;
抄送: "我是大大"<1095975833@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [dmlc/dgl] Data set in t

[2019-04-24 08:31] VoVAllen commented on #508
Did you start program with "--dataset pubmed"?

[2019-04-24 08:41] tengwei12315 commented on #508
I start program with "--dataset pubmed".But the download did not succeed。I am now downloading it to my local, what folder should I put the dataset into?

[2019-04-24 08:43] zheng-da commented on #508
The error message is confusing. I have fixed it in this PR. https://github.com/dmlc/dgl/pull/509

[2019-04-24 08:43] zheng-da commented on #508
the dataset is placed under ~/.dgl by default. you don't need to worry about where the data is placed.

[2019-04-24 09:23] tengwei12315 commented on #508
I have put pubmed.zip in the folder, but why is it wrong?

Traceback (most recent call last):
  File "sse_batch.py", line 398, in <module>
    data = load_data(args)
  File "/usr/local/miniconda3/lib/python3.7/site-packages/dgl/data/__init__.py", line 24, in load_data
    return citegrh.load_pubmed()
  File "/usr/local/miniconda3/lib/python3.7/site-packages/dgl/data/citation_graph.py", line 151, i

[2019-04-25 07:10] tengwei12315 commented on #508
How is the pubmed data set in the SSE model constructed? What does this data set include?

[2019-04-25 07:38] tengwei12315 commented on #508
We now want to use our own dataset in the SSE model. How do we construct our own dataset?Thank you.

[2019-04-25 16:12] zhangyu2ustc commented on #304
@BarclayII Thanks. I am not exactly batching on nodes. I am working on a supervised learning problem, where each sample with size (1, graph_num_of_node, feature_dim) has a label to be learned. I want batching on a group of samples. The graph itself is fixed but with a multi-layer architecture.

An example of that has mentioned in this repo: https://github.com/mdeff/cnn_graph, which convert mnist d

[2019-04-26 01:20] zheng-da commented on #508
actually, the SSE code shows you an example of loading your own data. Please see the code below.
https://github.com/dmlc/dgl/blob/master/examples/mxnet/sse/sse_batch.py#L394

[2019-04-26 01:23] tengwei12315 commented on #508
We want to use our own dataset, but in what format should we construct the dataset? Where is the description of the construction data set? thank you!

------------------ 原始邮件 ------------------
发件人: "Da Zheng"<notifications@github.com>;
发送时间: 2019年4月26日(星期五) 上午9:20
收件人: "dmlc/dgl"<dgl@noreply.github.com>;
抄送: "我是大大"<1095975833@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [dmlc/dgl] Data s

[2019-04-26 01:32] zheng-da commented on #508
Currently, we don't define format when loading your own data. For example, the code I show you here is to load a MXNet CSR NDArray from a file and create random feature tensors. You can do a similar thing. You can choose save your graph file as a scipy csr, and features as numpy tensors. After you load them, you can construct DGLGraph as usual.

[2019-04-26 01:50] tengwei12315 commented on #508
We now have only some node datasets for vertices and endpoints. Can we use the SSE model? How should we construct the data set needed by the model?

------------------ 原始邮件 ------------------
发件人: "Da Zheng"<notifications@github.com>;
发送时间: 2019年4月26日(星期五) 上午9:32
收件人: "dmlc/dgl"<dgl@noreply.github.com>;
抄送: "我是大大"<1095975833@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [dmlc/dgl] Data set

[2019-04-26 10:55] zheng-da commented on #508
I don't understand what you mean by "node datasets"? I believe SSE works for any homogeneous graphs.

[2019-04-26 16:26] maclandrol commented on #459
@HQ01 Any update on this ?

Also from the code, it appears that you are not including edge weight (which is, from what I have seen from the DGL documentation,  currently impossible given the nature of the adjacency matrix).

Therefore, after each pooling layer, the new coarsened graph will always be fully connected. From my personal experience, the soft-assignment matrix of Diffpool is not sparse

[2019-04-26 16:31] jermainewang commented on #459
You could put edge weights as edge features through `g.edata`.

[2019-04-26 16:42] HQ01 commented on #459
We are working on optimizing DGL's BatchedGraph API to optimize for Diffpool (and other potential usages). @VoVAllen may give you more details as he's taking the lead on this effort.

As for "edge weight" -- I guess you are referring to the entry values in the adjacency matrix. They are indeed not included in the graph exactly because of your correct observation that after the first pooling layer,

[2019-04-26 18:41] jermainewang commented on #487
Closed due to inactivity. Please reopen if issue still exists.

[2019-04-26 18:41] #487 closed

[2019-04-26 18:54] jermainewang commented on #466
Closed due to inactive. Please reopen if the problem still exists.

[2019-04-26 18:54] #466 closed

[2019-04-28 01:05] tengwei12315 commented on #508
I mean, we only have side information, the side information is composed of a vertex and an end point. How do you construct the characteristics of the data set used by your SSE model? The final problem is that we have no features, how to construct the data set? Thank you！

[2019-04-28 09:46] zengxy opened #513 "[BUG] Invalid src,dst got in NodeFlow.apply_block when edge is ALL"
## 🐛 Bug

Invalid src,dst got in `NodeFlow.apply_block` when edge is `ALL`.

## To Reproduce
Use `apply_block` with a `edge_func` which use data from `src` and `dst`, a example is below
[code]
But it will run with a `RunTimeError`,
[code]

## Cause
I find that it's because the invalid src and dst got in https://github.com/dmlc/dgl/blob/e89519150f2823c920b89fed7c1b0b5daca1211c/python/dgl/nodeflow.p

[2019-04-28 13:22] zheng-da commented on #508
SSE can run on a graph with only the graph structure (just node and edge, no node data or edge data). You can construct the initial node embeddings filled with 0. You don't need to provide node features as the input of the model.

[2019-04-28 14:15] jermainewang commented on #513
@zheng-da could you have a look?

[2019-04-29 02:23] HanYuanyuaner opened #514 "Instruction for pinsage"
Hi
I found that PinSage has been implemented in example with Movielens dataset. But there is no instruction for it in tutorial. So can you add something about it in tutorial such as  how to build the bipartite graph and how to define the positive and negative examples.

[2019-04-29 02:43] zengxy commented on #513
I''v filed a PR.

[2019-04-30 05:25] Elenore1997 opened #516 "The problem of generating vocab when using transformer."
I saw a line of code in transformer/dataset/__init__.py, about create vocab
`
def _make_vocab(self, path, thres=2):
        word_dict = {}
        for mode in ['train', 'valid', 'test']:
`
I think the words in vocab are only obtained by training set.

[2019-04-30 12:31] yzh119 commented on #516
Well, it does not matter if we obtain vocabulary from both training and valid/test set.
If a word does not appear in training set, then its embedding would not be updated and it is not likely to be generated in inference phase. You would get similar results if you build vocabulary only from training set.
For cases where pre-trained embeddings are used, building vocabulary from both training and va

[2019-04-30 13:06] Elenore1997 commented on #516
Thanks for your reply! It makes me clear about this problem.
Sry to bother and I think this issue can be closed.

[2019-04-30 13:06] #516 closed

[2019-04-30 18:26] kitaev-chen commented on #23
I think "Dynamic graph (in the generative_model branch)" will be a real competitive feature compared with other graph libraries since graph based generative model / gaussian process will be very prevalent .

[2019-04-30 18:44] mufeili commented on #23
Thanks a lot for the suggestion @kitaev-chen . I'm personally a big fan of generative models and yes we are likely to incorporate some more examples on generative models in the future. As this issue is closed now, you may want to instead post your suggestion at #450 . Also let us know if there are some models that you are particularly interested.

[2019-05-01 08:29] familyld opened #518 "Fail to create graph from networkx"
## 🐛 Bug

Fail to create graph from networkx. Running the basic example [here](https://docs.dgl.ai/tutorials/basics/2_basics.html) raises TypeError.

## To Reproduce

[code]

## Environment

 - DGL Version (e.g., 1.0): 0.2
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3): PyTorch 0.4.1
 - OS (e.g., Linux): Win10 and Ubuntu16.04
 - How you installed DGL ：`conda`
 - Python version

[2019-05-01 13:08] familyld commented on #518
Updating `networkx` solves the problem. For me, networkx 2.2+ works well.

[2019-05-01 13:08] #518 closed

[2019-05-05 09:55] familyld commented on #514
The code of PinSage is quite confusing. For example,  [this snippet](https://github.com/dmlc/dgl/blob/e89519150f2823c920b89fed7c1b0b5daca1211c/examples/pytorch/recommendation/main.py#L120) try to expand the shape of `dst` and `src` (which is torch.Size([256])) as the shape of `dst_neg` (torch.Size([256, 1])) first and then flatten them (back to torch.Size([256]) again). What is these code really d

[2019-05-06 03:07] tengwei12315 commented on #508
Hi，
Thank you very much for your generous help. Can you send a data set file of your own construction as a reference? Just like the data set you said.
thanks in advance.

[2019-05-06 09:29] tengwei12315 commented on #508
In other words, where is the  --graph-file ../../data/5_5_csr.nd \   What is he like?

[2019-05-06 16:03] mingloo opened #520 "Python 2 Support?"
I've found the [README](https://github.com/dmlc/dgl/blob/master/README.md) says the `Python 2 support is coming`.

When will such support available for [DGL](https://github.com/dmlc/dgl)?

[2019-05-07 21:18] VoVAllen commented on #514
PinSage model is still under construction. We plan to provide the tutorial after the release of more efficient sampler. Please stay tuned and thanks for your interest!

[2019-05-08 16:18] jermainewang commented on #520
Hi @mingloo, py2 support is on our list but not at the top. As new features are still being added and developed, we're afraid that supporting py2 may put extra burden on the project maintenance. Thus, in the next few releases, we'll still stick with py3. Thanks for your comprehension.

[2019-05-08 16:18] #520 closed

[2019-05-08 20:26] zheng-da commented on #508
sorry for the late reply. You can download the file from S3.
[code]

[2019-05-09 00:24] mingloo commented on #520
@jermainewang Understand. Thanks for your reply. 👍

[2019-05-09 09:59] TerranRush opened #525 "Using "dgl.mean_nodes()" on mxnet backend"
When I ported the code of the tutorial "Batched Graph Classification with DGL" from `pytorch` to `mxnet` backend, the `dgl.mean_nodes()` leads to a computational graph breaking error.

It seems the problem is caused by `/=` in line 188 of `dgl/backend/mxnet/tensor.py`:

[2019-05-09 16:19] zheng-da commented on #525
could you show us the error message?

[2019-05-10 12:59] TerranRush commented on #525
Sure, please see the following error.

[code]

If I change the code at line 188 to `y = y / w.reshape((-1,) + (1,) * (y.ndim - 1))`, it works.

[2019-05-10 15:04] klicperajo commented on #450
It would be great if you could also implement [APPNP](https://github.com/klicperajo/ppnp)! It's quite simple and performed best in PyTorch Geometric's benchmark, so people could clearly benefit here as well. :)

[2019-05-10 15:25] mufeili commented on #450
Thank you for the suggestion @klicperajo . I think we've already had one implementation for this work:). See [dgl APPNP example](https://github.com/dmlc/dgl/tree/master/examples/pytorch/appnp).

[2019-05-10 15:32] klicperajo commented on #450
Oh, nice! I didn't notice since it's not in the summary table. :)

[2019-05-11 14:06] Junyoungpark opened #527 "Graph level features in dgl.DGLGraph()"
Hi! I'm a newbie of DGL. I'm wondering whether I can specify graph-level features in `dgl.DGLGraph()`. networkx `graph` supports `graph.graph` for assigning graph-level feature. Can I find an equivalent feature from `DGLGraph()` too?

[code]

[2019-05-11 15:15] yzh119 commented on #527
Hi, the best way is to maintain a graph level feature outside DGLGraph, you can read [this issue](https://github.com/dmlc/dgl/issues/417) for more details.

[2019-05-11 15:37] Junyoungpark commented on #527
Thanks for the comments :)

[2019-05-12 05:04] #527 closed

[2019-05-12 05:12] Junyoungpark opened #528 "Not intuitive implementations for GAT from the tutorial. Why get g when instantiate GAT layer?"
Hi! I may have a misunderstanding about GAT implementation. When I go over the GAT tutorial in https://docs.dgl.ai/tutorials/models/1_gnn/9_gat.html.

[code]
when I followe the implemenation, the `GATLayer` get a fixed `g` as `self.g`. This is quite counter intuitve for me. Since `GATLayer()` itself is indeed capable to handle any toplogy of graphs, setting a fixed graph is not attractive in real

[2019-05-12 05:41] mufeili commented on #528
Hi Junyoung,

You can simply treat `g` as another argument in the `forward` function. Setting `g` in initialization is easy when we have one fixed graph only like in the case of Cora, Citeseer and Pubmed.

[2019-05-12 05:43] Tiiiger opened #529 "Getting SGC to work with reddit data"
Been trying to get SGC to work on the Reddit dataset. However, it seems that the current release version (v0.2) takes too much memory.

Here is a minimal snippet to replicate the issue:
[code]

It tries to allocate 257 GB GPU memory. For a reference, I am able to train SGC on the Reddit dataset with a [vanilla PyTorch implementation](https://github.com/Tiiiger/SGC/blob/master/reddit.py). I am awar

[2019-05-12 05:49] Junyoungpark commented on #528
@mufeili. Thanks for the reply! I was just curious :)

[2019-05-12 05:50] #528 closed

[2019-05-12 07:04] familyld opened #530 "Questions about random-walk on bipartite graph"
I am using DGL to implement a graph neural network working on a bipartite graph.  To perform GraphConv, I need to find `top_T=20` important neighbors of each node. However, in my case, the graph data is really sparse and it's hard to obtain that much neighbors. I want to increase the number of traces found for each node but I don't know how to achieve this because there are only two parameters I c

[2019-05-12 20:18] mufeili opened #531 "Issues in NodeFlow when Extending GAT to Reddit"
## 🐛 Bug

Just attempted extending GAT to Reddit with NodeFlow and encountered several issues.

## Issue 1

### To Reproduce

Steps to reproduce the behavior:

[code]

where

[code]

### Expected behavior

[code]

where

N1, N2 are two integers that are unequal. I've attempted all the three options at [apply_block](https://github.com/dmlc/dgl/blob/master/python/dgl/nodeflow.py#L718), but only mana

[2019-05-13 09:13] tengwei12315 commented on #508
Thank you very much for your answer. I am really grateful for answering so many questions. We currently think that the SSE model is an unsupervised classification. If I want to make a semi-supervised classification, should I set the train_mask like the mask in the GCN tutorial ？Do you have any good suggestions?

[2019-05-13 11:47] familyld commented on #530
@BarclayII Do you have any ideas?

[2019-05-13 15:24] BarclayII commented on #530
The current random walk with restart is entirely based on [Pixie](https://arxiv.org/abs/1711.07601) where you can only either tune the maximum number of nodes visited, or the threshold of frequent visited nodes.  So, no: currently there is no way to directly control number of traces to find for each node.

[2019-05-13 18:09] zheng-da commented on #508
our implementation has the semi-supervised setting. we use some nodes with labels to train the model and infer on the nodes without labels.

[2019-05-14 01:40] familyld commented on #530
@BarclayII I tried but it's not helpful. The number of traces and the length of each trace  depend on the restart probability. Even if you set a large `max_nodes_per_seed`，you can't get that much nodes in a trace if the restart probability is not low enough. However, if the restart probability is low, the number of traces will decrease too. That's why I feel so helpless  to solve this problem. It'

[2019-05-14 03:15] BarclayII commented on #530
The number of traces also depends on `max_nodes_per_seed`, so you could try lowering restart probability *and* raising `max_nodes_per_seed`.

Alternatively, you can set `max_nodes_per_seed` to a really big number, and additionally set `max_frequent_visited_nodes = 20` and `max_visit_counts` to some number greater than 1.

If you only care about selecting nodes with K-highest personalized PageRank

[2019-05-14 04:13] familyld commented on #530
@BarclayII Thanks a lot. I will try tuning these parameters.

[2019-05-15 03:10] michaeljyt commented on #412
I just find an issue worth noting. When I fix all random seeds (torch, cuda, numpy, random,python), I can get same results using CPU but different results with GPU.
Is there any function in DGL using GPU atomic function? This would introduce troubles in reproducity. Thanks.

[2019-05-15 04:26] zheng-da opened #532 "deterministic (neighbor) sampling"
## 🚀 Feature
To help debugging, it'll be great to allow deterministic neighbor sampling. After setting the same seed, neighbor sampler should always return the same results. @aksnzhy

[2019-05-15 06:36] VoVAllen commented on #412
@michaeljyt Currently all operation in dgl are using framework operator, which you can find [here](https://github.com/dmlc/dgl/blob/master/python/dgl/backend/pytorch/tensor.py). Using reduce function `fn.sum` will call `spmm` function and it might be non-deterministic. We will introduce new kernel in 0.3, using cuSparse kernel which is deterministic. (Correct me if I'm wrong @jermainewang @liangfu

[2019-05-15 09:07] reveriel opened #533 "Example code in TreeLSTM fail"
## 📚 Documentation

https://docs.dgl.ai/en/latest/tutorials/models/2_small_graph/3_tree-lstm.html

The code provided is [3_tree-lstm.py](https://docs.dgl.ai/en/latest/_downloads/3_tree-lstm.py)

Running `python 3_tree-lstm.py` results this:
[code]

My Environment:

dgl 0.2,
networkx 1.11
pytorch 1.0.1

[2019-05-15 09:48] Vimos opened #534 "StopIteration while converting a networkx graph with edge attributes"
## 🐛 Bug
When converting a `networkx` graph with edge attributes but no edges, there is an `StopIteration` reported.

While in most cases, this should be OK. However, can we avoid this?

## To Reproduce
[code]

## Expected behavior
`Warning` is better.

## Environment

[code]

[2019-05-15 10:23] michaeljyt commented on #412
@VoVAllen Thank very much for your reply. In my experiment, non-deterministic operation affects the performance seriously. CuSparse is a good choice. From the cuda document, the CUSPARSE_COOMM_ALG2 for cusparseSpMM is deterministic. Hope the new version would come out soon.

[2019-05-15 16:15] familyld commented on #530
Hi, @BarclayII. Is there an efficient way to choose variable-length neighbors for each nodes? Sorry for bother you, but I really don't know how to modify these code:

[code]

I still want to preserve the weights of each neighbor and filter those with small weights. But some nodes have only 1 or 2 neighbors in my case and using topk will cause unexpected results, i.e., choosing random nodes as neig

[2019-05-15 16:18] BarclayII commented on #530
Why would a node only have 1 or 2 neighbors?  Does that mean the node is in a connected component with only three nodes?

[2019-05-15 16:20] familyld commented on #530
Yes.

[2019-05-15 16:27] BarclayII commented on #530
In this case, it's probably not a good idea to randomly pad the neighbors, since the "padding nodes" would be totally irrelevant to the node being considered.  I think it would be better to weight the neighbors with number of visits of the neighbors (i.e. `weights` in the pair returned by `random_walk_distribution_topt`.  Essentially, the weights assigned to the "padding nodes" would become 0.  Th

[2019-05-15 16:38] familyld commented on #530
0 weight is fine. The true problem is that these irrelevant nodes are also add to nodeset which means they will participate in the next round of random walk. In my case, these irrelevant nodes can be nodes that have no successors, which cause the `no successors from vertex xxxx` error.

[code]

[2019-05-15 16:44] BarclayII commented on #530
I see.  I guess you need to change this statement
[code]
to
[code]

Essentially, the nodes with 0 weights shouldn't take part in the next round anyway.

[2019-05-15 20:38] stephenra opened #535 "JTNN example, RuntimeError: Expected object of backend CPU"
## 🐛 Bug

Running `python3 vaetrain_dgl.py` following the [docs for the JTNN training example](https://github.com/dmlc/dgl/tree/master/examples/pytorch/jtnn) results in a `RuntimeError`.

## To Reproduce

The steps enumerated in the docs for training: ```python3 vaetrain_dgl.py``` produces:

[code]

## Environment

 - DGL Version (e.g., 1.0):  0.2
 - Backend Library & Version (e.g., PyTorch 0.4.1,

[2019-05-15 22:21] jermainewang commented on #533
It seems that your networkx is too old. They changed the `edges` member from a method to a view object later. In networkx 2.2, the following codes work fine:
[code]

We do have a minimal requirement of networkx 2.1 as our dependency. May I know how you install dgl? (pip or conda)?

[2019-05-16 00:30] familyld commented on #530
@BarclayII Thanks a lot!

[2019-05-16 01:45] BarclayII commented on #535
While I did found an inconsistency due to recent interface change (fixed in #536 ), I ran `vaetrain_dgl.py` and did not observe the problem within 10 minutes.

When did the error occur?  Or does it occur on a specific example?

[2019-05-16 02:26] tengwei12315 commented on #508
Hi，
Download the 5_5_csr.nd need Ak, SK, and now SSE model running pumbbed data set can only maintain the accuracy of the test set around 0.4?

[2019-05-16 03:52] stephenra commented on #535
Thanks for the response. I found it failed <30s after printing the model params.

[2019-05-16 04:19] zegzag opened #537 "Cannot load large graph from sparse_matrix"
## 🐛 Bug
I downloaded the `Reddit Graph Data` and unzip them into the directory `./data`, which is `./data/reddit_data.npz` and `./data/reddit_self_loop_graph.npz`. I loaded the graph data with `scipy.sparse.load_npz()` to `coo_adj`.  I tried to build the `DGLGraph` from the sparse adjacent matrix  with `g=DGLGraph().from_scipy_sparse_matrix(coo_adj)` but I got the `NoneType` return. I wonder if i

[2019-05-16 06:01] zegzag opened #538 "If DGL can support Numpy ecology ?"
## 🚀 Feature
## Feature
We know that in data science field, python ecology of `Numpy, Scipy,  Scikit-Learn` is a rounded system. Much data in the rounded system is stored in numpy format or can be operated by `Numpy` easily. `Pytorch` paradigm is similar to `Numpy`, the people who are familiar to `Numpy` can transform easily to `Pytorch`. And `DGL` is derived from `Pytorch`. For the above reason,

[2019-05-16 06:13] tengwei12315 commented on #508
I use cora, pumbed and my own dataset to run the sse model. I found that the accuracy is not very high. Is this a parameter setting problem? Do you have any good suggestions?

[2019-05-16 07:43] BarclayII commented on #535
Does it occur consistently after <30s?  I still could not reproduce the problem...

Also, could you try building DGL from source and/or upgrading PyTorch to the latest release?

[2019-05-16 09:53] VoVAllen commented on #537
I think `from_scipy_sparse_matrix` is an inplace operation. Could you try `g=DGLGraph(); g.from_scipy_sparse_matrix(coo_adj)` and see whether `g` is loaded as expected?

[2019-05-16 10:01] VoVAllen commented on #538
The error here is saying the type of `nmax` should be int/long instead of float, we may need to improve the error message here.
And dgl currently support construct graph from a sparse matrix, you can directly use `g=DGLGraph(coo_matrix)` to do this.

[2019-05-16 13:19] stephenra commented on #535
@BarclayII Seems to be working now after both building from source (Ubuntu 16.04 LTS) and upgrading PyTorch==1.1. Thanks!

[2019-05-16 14:35] Kokopelli84 opened #540 "RuntimeError: Expected tensor for argument #1 'indices' to have scalar type Long; but got CUDAType instead (while checking arguments for embedding)"
## 🐛 Bug

I'm truying to run the file link_prediction.py.

## To Reproduce

Steps to reproduce the behavior:

1. I installed the dependencies and ran `python3 link_predict.py -d FB15k-237 --gpu 0` as instructed.

Here is the execution log.

(base) C:\Users\nfleig\dev\machine_learning\dgl\examples\pytorch\rgcn>python link_predict.py -d FB15k-237 --gpu 0
[code]
## Expected behavior

A similar thing

[2019-05-16 14:43] #535 closed

[2019-05-17 01:02] zheng-da commented on #531
Does https://github.com/dmlc/dgl/pull/515 fix your problem?

[2019-05-17 01:09] zheng-da commented on #513
I have merged the PR. Thanks for fixing the bug.

[2019-05-17 01:09] #513 closed

[2019-05-17 08:17] michaeljyt commented on #412
Hi VoVAllen, I just tested torch.sparse function and find it quite slow (even worse than cpu). I am not familiar with CuSparse, so you may please test its speed first.

[2019-05-17 08:33] VoVAllen commented on #412
@michaeljyt Another option is to use `scatter_add` to do the neighborhood sum at current stage, which is deterministic and had better performance.

[2019-05-17 08:39] michaeljyt commented on #412
Unfortunately, scatter_add is not deterministic using gpu... The document of Pytorch has clarified it... Anyway, if dgl is used in supervised learning, this issue is not important. :D

[2019-05-17 10:46] yangysc opened #542 "Question about the node ordering of the line_graph"
## ❓ Questions and Help

Hello, I am wondering that how the nodes of the resulting line_graph order? It seems the api returns a set of  new nodes ( in line_graph) named from 1to |E|, how can I make sure **which new nodes are the corresponding edges of the original graph**?
Here is the source code of line_graph in the api.
[code]
In this implemention, I think it's hard to determine the node orderin

[2019-05-17 11:05] #542 closed

[2019-05-18 01:08] jermainewang commented on #540
@ylfdq1118 could you have a look?

[2019-05-18 01:13] jermainewang commented on #538
Hi @zegzag, thanks for the report. I think the problem here is that `numpy.int` is actually a different type than python's native int. Therefore, when passing it to our own CAPIs, we should convert it to python native int.

More specifically,
https://github.com/dmlc/dgl/blob/d533e9ba62ebc5ed45ab2723c8a2c9f5598a9727/python/dgl/graph_index.py#L81
Should be:
[code]

We should go through all such case

[2019-05-18 01:17] jermainewang commented on #529
Hi @Tiiiger, sorry for the delayed reply. We don't have nightly branch at the moment. Currently, we put kernel-related codes on `kernel` branch. You could try build from source and see whether that fixes your issue. We are working on the release. Thank you for your patience.

[2019-05-18 03:47] zzhang-cn commented on #538
I think the larger issue here is to zoom beyond particular errors and
support Numpy as the first citizen. This is consistent to our thinking in
the long run and in fact another team is planning work on this. If you like
to contribute I think that will be very exciting.

-zz

On Sat, May 18, 2019 at 9:13 AM Minjie Wang <notifications@github.com>
wrote:

--

*Zheng Zhang <https://shanghai.nyu.edu/ac

[2019-05-18 12:57] VegaLearning opened #544 "when will python2 be supported?"
## ❓ Questions and Help

Before proceeding, please note that we recommend
using our discussion forum (https://discuss.dgl.ai) for
general questions. As a result, this issue will
likely be CLOSED shortly.

[2019-05-18 18:29] ylfdq1118 commented on #540
Hi @Kokopelli84 , I was not able to reproduce the error.

I initiated a clean environment (using docker container), and I tried both pip and anaconda installation. After installing current dgl 0.2 and the dependencies for RGCN model, everything works fine.

What's the command you used to install all the packages like the DGL as well as the dependencies?

[2019-05-19 12:44] VoVAllen commented on #544
https://github.com/dmlc/dgl/issues/520#issuecomment-490552483

[2019-05-19 12:46] VoVAllen commented on #537
Please feel free to reopen this if you still have any question.

[2019-05-19 12:46] #537 closed

[2019-05-19 12:48] VoVAllen commented on #534
Do you mean that networkx graph could have edge attributes without any edges?

[2019-05-19 12:58] #451 closed

[2019-05-19 12:59] VoVAllen commented on #530
Closed due to inactive. Please feel free to reopen this if you still have any question.

[2019-05-19 12:59] #530 closed

[2019-05-19 13:00] VoVAllen commented on #507
Closed due to inactive. Please feel free to reopen this if you still have any question.

[2019-05-19 13:00] #507 closed

[2019-05-19 14:37] Vimos commented on #534
It's a degenerating case. I also think it's strange to talk about edge attributes on graphs without edges.

[2019-05-20 03:25] reveriel commented on #533
Thanks.
I used conda, which points to an outdated mirrors.

[2019-05-20 03:25] #533 closed

[2019-05-20 03:43] #525 closed

[2019-05-20 04:41] VoVAllen commented on #534
I don't think we will change the behavior here. Fail fast could avoid further bugs. It would be better for user to handle the corner case here, such as using if statement to not using `edge_attrs` when there's no edges.

[2019-05-20 04:58] #534 closed

[2019-05-20 13:30] Junyoungpark opened #548 "Querying source node index in mailbox"
Hi! I'm wondering if there any possible way to getting the source node indices in 'reduction_function'. especially, I want a get the corresponding edge indices of messages in the mailbox of a certain node in dgl graph.

[2019-05-20 14:53] VoVAllen commented on #548
We don't support getting node indices in reduction function.

One possible solution is adding extra field for node data and edge data and send them to reduce function. Something like
[code]
However, this is not recommended. You may need API like `g.pull`([doc](https://docs.dgl.ai/generated/dgl.DGLGraph.pull.html)) or `g.send_and_recv`([doc](https://docs.dgl.ai/generated/dgl.DGLGraph.send_and_recv.

[2019-05-23 06:32] VegaLearning commented on #544
understand, thanks.

[2019-05-23 07:11] #544 closed

[2019-05-23 09:51] askliar opened #558 "RGCNEntityDataset not working if bfs_level = 0"
## 🐛 Bug

When trying to use `RGCNEntityDataset` from `dgl.contrib.data.knowledge_graph` with `bfs_level = 0` (so, without removing any nodes), it breaks due to wrong naming of the variables.

## To Reproduce

Steps to reproduce the behavior:

1. Pull code from [https://github.com/dmlc/dgl/blob/master/examples/pytorch/rgcn](https://github.com/dmlc/dgl/blob/master/examples/pytorch/rgcn)
2. In file

[2019-05-26 05:33] #558 closed

[2019-05-26 10:15] LYF14020510036 opened #568 "MiniGCDataset(80, 10, 20)"
MiniGCDataset(80, 10, 20)

Is the maximum number of nodes 20 for all graphs?  It seems that the number of nodes in some graphs is multiplied by 2.

[2019-05-26 14:14] mufeili commented on #531
@zheng-da With an initial attempt, the first issue seem to be resolved and I will take a more careful look to see if the accuracy does not change. The second issue still exists.

[2019-05-26 20:17] zheng-da commented on #531
I see. I just noticed the first issue.

[2019-05-26 21:43] #502 closed

[2019-05-26 21:44] jermainewang commented on #502
The feature should be supported via PR #539.

[2019-05-26 21:58] jermainewang commented on #450
Just updated the roadmap with a checklist. Our tentative date for this release is **05/07.**

For all committers @zheng-da @szha @BarclayII @VoVAllen @ylfdq1118 @yzh119 @GaiYu0 @mufeili @aksnzhy @zzhang-cn @ZiyueHuang , please vote with :+1:  if you agree with this plan.

[2019-05-26 22:03] szha commented on #450
did you mean 6/7?

[2019-05-26 22:33] jermainewang commented on #548
@VoVAllen @Junyoungpark we actually support that. Checkout the following code snippet:

[code]
You will see output like this:
[code]

Explanation:
* The graph is a bidirectional chain graph and all the edges are batched together for calculating messages. So you see three tensors: src id, dst id and edge id.
* The reduce function is batched by degrees. All the intermediate nodes (1,2,3) have degree

[2019-05-27 02:38] Junyoungpark commented on #548
That's so nice! thanks for the comment. I gonna check it 👍

[2019-05-27 11:10] VoVAllen opened #574 "[Unit Test] test_sampler.test_layer_sampler fails sometimes"
## 🐛 Bug
test_sampler.test_layer_sampler fails sometimes. Maybe due to insufficient memory.

See this CI
http://ci.dgl.ai/blue/organizations/jenkins/DGL/detail/PR-567/13/pipeline

## To Reproduce
Steps to reproduce the behavior: Repeatedly run this test, and found always fail at some iteration.

[2019-05-27 11:18] VoVAllen commented on #574
![image](https://user-images.githubusercontent.com/8686776/58416374-ede1a480-80b3-11e9-8984-dca640822fc7.png)

![image](https://user-images.githubusercontent.com/8686776/58416430-18336200-80b4-11e9-9ab3-f525e86237e9.png)

[2019-05-27 18:20] #548 closed

[2019-05-28 01:30] jermainewang commented on #574
@aksnzhy could you take a look?

[2019-05-28 01:32] #335 closed

[2019-05-28 06:18] VoVAllen commented on #450
@yzh119 will be in charge of edge/node removal

[2019-05-28 06:25] mufeili commented on #450
@jermainewang What do you need for issues under NN module?

[2019-05-28 06:49] yzh119 commented on #450
One question: do we need to rebuild node/edge index when calling node/edge removal?
For example:
[code]
What should be the output? `tensor([0, 1, 4])`?

[2019-05-28 07:16] aksnzhy commented on #574
I didn't reproduce this bug in my environment, but when I use a 500 * 500 graph by the code

`g = generate_rand_graph(200)`

The ` test_layer_sampler()` will break down with the following error:

[code]

@zheng-da

[2019-05-28 09:42] RyanHuangNLP opened #578 "Any example with the layer wise sampling strategies like FastGCN, AdaptiveSampling?"
## ❓ Questions and Help

Is there any example like [fastgcn](https://github.com/matenure/FastGCN),  [AS-GCN](https://github.com/huangwb/AS-GCN) in DGL, thank you~~

[2019-05-28 12:54] yzh119 commented on #450
I must say, if the node index and edge index must be rebuilt after node/edge removal, the behavior of these operations would be VERY CONFUSING. I can't see any scenario that these operations would make any sense.

[2019-05-28 13:43] VoVAllen commented on #450
I think we need to return the removed edges, and let user handle the mapping between original index and modified index. (or provide utils function)

[2019-05-28 14:46] yzh119 commented on #450
@VoVAllen , I don't see any benefits of doing this compared to creating subgraph of the current graph.

[2019-05-28 18:10] jermainewang commented on #450
(1) EdgeSoftmax needs to be re-implemented using the new builtins; (2) GAT as an NN module. Both depend on the kernel branch to be fully merged.

@mufeili do you have time take over these two items?
* `dgl.to_simple_graph` API to remove multi-edges
* `dgl.to_bidirected` API to transform the graph to bidrectional. (Issue #419)

[2019-05-28 23:00] zheng-da commented on #578
We provide layer-wise sampler in DGL. @GaiYu0 do you have examples to demonstrate the sampler?

[2019-05-29 05:49] mufeili commented on #450
@jermainewang I may need to wait till weekend for implementing them. If that's good for you, I'll take over them.

[2019-05-29 06:38] GaiYu0 commented on #578
Please have a look [here](https://github.com/dmlc/dgl/blob/master/examples/mxnet/sampling/gcn_ns_sc.py). All you need for FastGCN is to replace `dgl.contrib.sampling.NeighborSampler` with `dgl.contrib.sampling.LayerSampler`.

[2019-05-29 08:11] RyanHuangNLP commented on #578
@GaiYu0 @zheng-da Thanks a lot!

[2019-05-29 08:51] mufeili commented on #568
@LYF14020510036 , thanks for the report and we've filed a PR for fixing it.

[2019-05-29 17:52] yzh119 commented on #529
I'll look into this, thanks for your patience.

[2019-05-30 01:59] jermainewang commented on #568
Should be fixed in #585 .

[2019-05-30 01:59] #568 closed

[2019-05-30 05:30] jermainewang commented on #450
I've taken `to_simple_graph`. The rest is yours.

[2019-05-30 12:02] LYF14020510036 commented on #568
Thank for your reply. I am a student. Recently, I will write a paper and use the MiniGCDataset of your DGL library. I don't know how to quote references.

[2019-05-31 06:38] mufeili commented on #568
@LYF14020510036 Thank you for your interest. We've published a [related paper](https://rlgm.github.io/papers/49.pdf) and you can cite it. Also note that we create the MiniGCDataset mainly for the purpose of tutorial and you may consider it rather as a synthetic dataset for graph classification. If you want to demonstrate your model, you should also include more serious datasets.

@jermainewang , m

[2019-05-31 07:31] LYF14020510036 commented on #568
Thank you very much, We used seven classic graph classification data sets. We have also proposed new tasks, and hope to use your MiniGCDataset.

[2019-05-31 17:23] jermainewang commented on #574
@aksnzhy you could try use the CI environment using the docker image. From my previous experience, some bugs can only be reliably reproduced there.

[2019-06-01 19:51] mufeili commented on #578
@RyanHuangNLP If there are no follow up problems, you may close the issue. Thanks.

[2019-06-01 19:52] mufeili commented on #495
Close the issue as this seems to be no longer active.

[2019-06-01 19:52] #495 closed

[2019-06-02 03:34] jermainewang commented on #538
Should be fixed in #580 .

[2019-06-02 03:34] #538 closed

[2019-06-02 06:56] ylfdq1118 opened #597 "[RFC][Feature] DGL Builtin API Syntax"
## 🚀 Feature
I am working on adding more builtin message and reduce functions and I wonder what is a better syntax for builtins.

### Current builtin function syntax
Let's take element-wise multiply between source node feature and edge feature followed by sum reduction as an example. Currently, our interface looks like the following:
[code]

### Current proposal
The current syntax is not succinct

[2019-06-02 07:14] mufeili commented on #597
Vote for proposal 2. I suppose there should also be keyword argument in `fn.sum("m", "h")`?

[2019-06-02 07:17] ylfdq1118 commented on #597
I think that can be omitted without confusion. But we can have it in keyword style for consistency.

[2019-06-02 07:19] ylfdq1118 commented on #597
BTW, let's call the current proposal "proposal 0"

[2019-06-02 07:24] yzh119 commented on #597
I vote for the current proposal.
I think the PyG solution looks like einstein sum but to add a dimension for "v" or "e"

[2019-06-02 14:10] #578 closed

[2019-06-02 20:46] jermainewang commented on #597
One issue of the proposal 2 is the argument order. For example, is `fn.sub(u='h', e='h')` different with `fn.sub(e='h', u='h')`?

[2019-06-02 22:00] ylfdq1118 commented on #597
Yeah, you are right. It has to be different.

[2019-06-03 13:01] yzh119 opened #602 "[Bug] Failed to build DGLGraph from networkx when there is no edge."
## 🐛 Bug

`from_network` does not work when the there is no edge in the graph.

## To Reproduce

A minimal reproduction:
[code]

## Expected behavior

Error message:
[code]

## Environment

 - DGL Version (e.g., 1.0): 0.2
 - Backend Library & Version (e.g., PyTorch 0.4.1, MXNet/Gluon 1.3): PyTorch 1.1
 - OS (e.g., Linux): Mac
 - How you installed DGL (`conda`, `pip`, source): source
 - Build comma

[2019-06-04 03:55] #602 closed

[2019-06-05 13:57] sgdantas opened #608 "Is it possible to retrieve the attention weights of a specific node?"
Hey!
I was wondering if it's possible to retrieve the attention weights of a specific node. By printing the alpha dimension I see that the attention is batched (Number of nodes with same degree x degree x 1)
[code]

However, a node might be connected to other nodes with different degrees. I wanted to retrieve the attention that other nodes pay to a specific node, is that possible?

Thanks!

[2019-06-05 16:01] mufeili commented on #608
It's possible. Take [our PyTorch GAT Implementation](https://github.com/dmlc/dgl/blob/master/examples/pytorch/gat/gat.py) as an example. The edge attentions are stored in [`g.edata['a_drop']`](https://github.com/dmlc/dgl/blob/master/examples/pytorch/gat/gat.py#L88). We can fetch the attentions as follows:

[code]

[2019-06-05 16:35] sgdantas commented on #608
Thank you, it works!

[2019-06-05 16:35] #608 closed

[2019-06-05 16:52] mufeili commented on #608
Glad to know that @sgdantas F :). Let me know if you have any follow up questions. Also for questions like this we encourage users to post on our [discussion forum](https://discuss.dgl.ai/) so that more users can be benefited.

[2019-06-05 17:10] fatemehteimury opened #609 "Hi I'm not pretty sure how can I use DGL for dynamic graphs for edge classification and nod eclassification?"
## ❓ Questions and Help

Before proceeding, please note that we recommend
using our discussion forum (https://discuss.dgl.ai) for
general questions. As a result, this issue will
likely be CLOSED shortly.

[2019-06-06 06:26] VoVAllen commented on #609
Please using our discussion forum  (https://discuss.dgl.ai) for
general questions. We would be glad to help you there. Thanks!

[2019-06-06 06:26] #609 closed

[2019-06-06 14:16] fatemehteimury commented on #609
Thanks for your help. I will ask my question there.

[2019-06-06 14:18] fatemehteimury opened #613 "for link prediction although I import rdflib but I receive unkown dataset 'rdflib' I also try 'aifb' that have been used for community detection but I receive the same error"
## ❓ Questions and Help

Before proceeding, please note that we recommend
using our discussion forum (https://discuss.dgl.ai) for
general questions. As a result, this issue will
likely be CLOSED shortly.

[2019-06-06 15:40] salihkaragoz commented on #568
Great Work!
Can we quote this study as follows;

[code]

Best

[2019-06-06 16:46] mufeili commented on #568
@salihkaragoz Thank you for your interest and it looks great. There are some typos and I've fixed below:
[code]

[2019-06-06 16:56] jermainewang commented on #568
@salihkaragoz We will put our paper on arxiv asap after this release so people could have a better citation point. In the meanwhile, you could use @mufeili 's citation. One quick question, since RLGM is a workshop so the paper is not really "inprocedings", how to fix that? article?

[2019-06-06 17:09] salihkaragoz commented on #568
Hmm yes, you are right it's my mistake.

Here is another ICLR 2019 workshop and its bibtexs look good.
https://sites.google.com/view/safeml-iclr2019/accepted-papers?authuser=0
apparently, it should be the article.

[2019-06-06 21:08] lmegha opened #615 "How do I use DGL with Neo4j?"
## ❓ Questions and Help

I am trying to using the DGL library with a Neo4j Database, and I'm really struggling in understanding how do I get the Neo4j graph into a DGL graph in order to use the libraries capabilities. Any help would be great.

[2019-06-06 23:41] lgalke opened #617 "GraphConv extra_repr cannot deal with modular activation functions"
## 🐛 Bug

When an instance of an `nn.Module` is used as argument for `activation`,
the `GraphConv` instance cannot be printed anymore. Apart from this, the GraphConv layer seems to be working perfectly. While you could replace `nn.ReLU()` with `nn.functional.relu`, you cannot do this for stateful activation functions such as `nn.PReLU()`. This renders the instantiated module unprintable.

## To Re

[2019-06-07 01:02] ylfdq1118 commented on #597
Conclusion is sticking to proposal 0

[2019-06-07 01:02] #597 closed

[2019-06-07 10:02] yzh119 commented on #617
Yes, be default PyTorch Module would move `Parameters` to its `_parameters` field and `Modules` to its `_modules` field in its `__dict__` representation.
We would fix it soon, thanks for reporting this bug!

[2019-06-07 12:03] VoVAllen commented on #574
Does https://github.com/dmlc/dgl/pull/616#event-2396172889 fix this? @zheng-da

[2019-06-07 18:22] yzh119 commented on #617
@lgalke we have merged the pr and this issue would be closed. If you have further problems, feel free to open it again.

[2019-06-07 18:22] #617 closed

[2019-06-08 10:48] izuna385 opened #627 "How should we define edge_norm in R-GCN model?"
## ❓ Questions and Help

Thanks for developing very nice and useful library.
My question is, what does `edge_norm` mean under R-GCN model.
(In documentation, https://docs.dgl.ai/en/latest/tutorials/models/1_gnn/4_rgcn.html)

The definition of `node_norm` is described in the original paper, and my interpretation is that, some node has so many edges to others and  `node_norm` is for reducing too muc

[2019-06-08 14:25] VoVAllen commented on #615
How big is your graph and is it dynamic (changed over time)?  We want to support various i/o method, but doesn't have any plan yet. It would be helpful for us if you could provide more information about your scenario. Thanks!

[2019-06-08 14:54] mufeili commented on #613
Could you please a minimal block of code for reproduction? Thank you.

[2019-06-08 22:26] zheng-da commented on #615
@lmegha With the current implementation of DGL, you could export the entire graph in Neo4j into NetworkX format and load it to DGL if your graph isn't very large. Otherwise, you may consider export the graph structure into scipy sparse matrix and export node data and edge data into numpy tensors, and load them into DGL. This solution should be able to handle fairly large graphs.

We do have plans

[2019-06-08 22:31] zheng-da commented on #574
@VoVAllen yes.

[2019-06-08 22:31] #574 closed

[2019-06-09 09:52] zheng-da commented on #531
this has been tested in https://github.com/dmlc/dgl/pull/628/files
the second issue has been fixed.

[2019-06-09 09:52] #531 closed

[2019-06-10 06:06] mufeili commented on #419
Added with PR #598.

[2019-06-10 06:06] #419 closed

[2019-06-10 10:32] yangysc opened #635 "GAT example can't work on GPU mode."
## 🐛 Bug

The GAT example can't work on GPU mode, but can work using cpu.
The error indicates that something is wrong with the file 'nn/pytorch/softmax.py'

## To Reproduce

Steps to reproduce the behavior:

1. clone and install current dgl project,
1. run the gat experiment
`python3 train.py --dataset=cora --gpu=0
`

## Expected behavior
Namespace(alpha=0.2, attn_drop=0.6, dataset='cora', epochs=

[2019-06-10 10:38] yangysc commented on #635
It turns that I do not the the cuda in the CMakefile.txt when building the project..

[2019-06-10 10:38] #635 closed

[2019-06-10 12:59] yangysc opened #637 "The GPU usage keep growing as the training is going, if graph is passed into the model every time"
## 🐛 Bug

Hello, I'm using the GAT model from the dgl library. But I made a small modification, since my input graph is changing all the time, so I do not store a graph in the model (I commented the code `self.g=g`), instead that I **treat the graph and feature tensor as the input to the model** every time.  Then the problem occured: **the GPU usage is keeping growing as the training is going.**

[2019-06-10 14:11] lmegha commented on #615
Hello, Thanks for the prompt response. My Neo4j graph consists of almost a million nodes/relationships. And yes the graph is dynamic. The networks approach had not been working too well for me. Are there any examples in your documentation where you’ve talked about how to load large graphs as scipy sparse matrices?

[2019-06-10 14:30] yzh119 commented on #637
@ylfdq1118 I remember that DGL 0.3 would cache an csr representation of the graph for operations like `edge_softmax`. Would you clear the cache when the graph structure changes(like the case in this issue)?

[2019-06-10 16:30] jermainewang commented on #615
Yes, we support conversion from scipy sparse matrix to DGLGraph if your graph is readonly.
[code]
In our v0.3 release (very soon, final wrap up), the above conversion is very efficient. You could wait for a couple of days or build from source using our master branch.

[2019-06-10 16:31] jermainewang commented on #627
@ylfdq1118

[2019-06-10 16:33] jermainewang commented on #637
@ylfdq1118 could you have a look? It looks a like a bug of our new NN module.

[2019-06-10 16:35] jermainewang commented on #613
Hey, please provide more details and descriptions. You could also use the discussion forum for more support. Close this for now. Please reopen if the problem still exists.

[2019-06-10 16:35] #613 closed

[2019-06-10 16:40] jermainewang commented on #467
Hey @Wimmerer , I know it is quite a long delay. But node/edge removal APIs have been implemented! Checkout the document [here](https://docs.dgl.ai/api/python/graph.html#removing-nodes-and-edges). The feature will be included in v0.3 (very soon, final wrap up phase). Thus, if you could wait for a couple more days, you could use it in the updated package.

[2019-06-10 17:50] ylfdq1118 commented on #627
Hi @izuna385 ,

I agree that potentially edge_norm can be used to place importance on edges. But here in RGCN, it looks to me that it's just a standard way to prevent aggregated node features from blowing up.

I think node normalization can be viewed a special type edge normalization. From my perspective, normalization here is essentially a weighted reduction. The difference between node normaliza

[2019-06-10 18:19] zheng-da opened #641 "Kernel TODO list"
- [ ] NodeFlow update_all requires to build an adj matrix from edge list. We should build adj matrix from csr directly.
- [ ] NodeFlow should use bipartite graph index for each block.
- [ ] support mean reduction.
- [ ] MiniGun should use pull for computation to avoid atomic write. In addition, MiniGun should use blocking (2D partitioning) to increase data locality.

[2019-06-10 18:20] lmegha commented on #615
Thank you so much, this was really helpful! Appreciate it.

[2019-06-10 21:29] ylfdq1118 commented on #637
@yangysc @yzh119 @jermainewang The bug is, in edge_softmax operator, the backward function used a separate cache to save forward pass tensors and did not explicitly clear the cache. It's not because caching DGL graph structure.

Similar issue was discussed [here](https://discuss.pytorch.org/t/when-should-you-save-for-backward-vs-storing-in-ctx/6522). I will push a fix.

[2019-06-11 01:05] Wimmerer commented on #467
Thanks! That was actually a very fast turn around!

[2019-06-11 01:11] izuna385 commented on #627
@ylfdq1118
Thanks for your comment. I agree with

because all these are related to information propagation. Also  I appreciate introducing example of GCN paper.
With your advice, I’ll try some `edge_norm`s. Thanks

[2019-06-11 02:07] yangysc commented on #637
Thanks a lot! @ylfdq1118 @yzh119 @jermainewang

[2019-06-11 02:07] #637 closed

[2019-06-11 07:04] Tiiiger commented on #529
@yzh119 any updates?

[2019-06-11 08:20] tengwei12315 opened #644 "Instruction about preparing custom dataset for sampling"
## ❓ Questions and Help

Hi,
     In the code example, the sampling in mxnet, can you load your own dataset like sse, if so, what should I do? Any answer will be appreciated.

[2019-06-11 12:34] yzh119 commented on #529
Hi @Tiiiger , I have run your snippet and it works fine with the master branch of DGL.
We have merged kernel branch to master, you could built the master branch by running the folloing:
[code]
The compilation may take a while.

[2019-06-11 15:40] #615 closed

[2019-06-11 21:40] ccoulombe opened #647 "Does not find cuDNN library"
## 🐛 Bug

On an HPC system, when building DGL with `cmake -DUSE_CUDA ..` as stated in the docs, configuration does not found cuDNN library which may not live in `CUDA_TOOLKIT_ROOT_DIR` .

[code]

## To Reproduce

Build DGL from source on a system where `cuDNN` is not in [`${CUDA_TOOLKIT_ROOT_DIR}`](https://github.com/dmlc/dgl/blob/e16e895d5364cdff243c2fb548e27fbc6366bf2b/cmake/util/FindCUDA.cmake#

[2019-06-11 21:41] ccoulombe commented on #647
In the meantime, one can still build by specifying `cuDNN` lib directory
[code]

[2019-06-11 21:52] jermainewang commented on #647
We are not using CUDNN at all actually. Should skip CUDNN during compilation. Thank you for the report!

[2019-06-11 22:13] #627 closed

[2019-06-12 09:25] BarclayII commented on #647
Should be fixed in #636

[2019-06-12 09:25] #647 closed

[2019-06-12 09:31] zheng-da commented on #644
i'm not sure what you mean. Our README gives quite a few examples.
https://github.com/dmlc/dgl/blob/master/examples/mxnet/sampling/README.md

[2019-06-12 12:50] BarclayII opened #651 "[Build] Windows CUDA build fails due to moderngpu"
## 🐛 Bug

In `third_party/minigun/third_party/moderngpu/src/moderngpu/tuple.hxx:226-256` one has the following declaration which used GNU extension `__attribute__((aligned))`:
[code]

which is not recognized by Visual C++ compiler (hence NVCC on Windows).

EDIT: full error message:
[code]

[2019-06-12 15:36] yzh119 commented on #651
Do you know how to solve this? If so we could fork moderngpu and make it a dependency of minigun.

[2019-06-12 15:37] jermainewang commented on #651
I'm on it. Currently, moderngpu is only required when the given frontier is partial. Since DGL only uses full frontier, we could safely remove that dependency.

[2019-06-12 17:23] jermainewang commented on #651
Should be fixed in #652. Please close if no further issue.